.offers {
  position: relative;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-left: 0;
    display: block;
  }

  &__btn {
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      width: 100%;
    }
  }

  &__cell {
    padding: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #d4dbe4;

    @include media-breakpoint-down(lg) {
      padding: 25px 15px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    &--price {
      justify-content: flex-start;
      border-bottom: none;

      @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &--advantages {
      justify-content: flex-start;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  &__header {
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;

    .offers__cell {
      padding-left: 0;
    }
  }

  &__tariff {
    margin-right: 10px;
    margin-left: 10px;
    width: 270px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;

    @include transition();

    &:hover {
      box-shadow: 0 8px 34px rgba(125, 137, 156, .202842);

      .offers__price {
        color: $primary;
      }
    }

    @include media-breakpoint-down(md) {
      width: calc(33.33% - 20px);
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 15px;
      margin-left: 0;
      width: 100%;
    }

    .offers__cell {
      position: relative;

      &:after {
        position: absolute;
        bottom: -1px;
        left: -20px;
        display: block;
        width: 20px;
        content: '';
        border-bottom: 1px solid #d4dbe4;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      &:last-child:after {
        display: none;
      }

      &:first-child {
        @include media-breakpoint-down(sm) {
          display: block;
          text-align: center;
        }
      }
    }
  }

  h4 {
    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__price {
    font-size: 28px;
    font-weight: 700;
    white-space: nowrap;

    @include transition;
  }

  &__cell-mobile-header {
    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  &__advantage {
    padding-left: 20px;
    text-align: left;
    background-image: url('../img/ico_done.svg');
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 10px 10px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
}
