mixin offers(modifier)
  .offers&attributes(attributes)
    .offers__header.d-none.d-lg-block.js-offers-equal-height-block
      .offers__cell.js-offers-equal-height
        p.mb-0 Выплаты по страховым случаям
      .offers__cell.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Уход из жизни
          span в результате несчастного случая
      .offers__cell.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Установление инвалидности
          span 1 или 2 группы
      .offers__cell.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Травмы
          span в результате несчастного случая
      .offers__cell.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Госпитализация
          span в результате несчастного случая
      .offers__cell.justify-content-start.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Дополнительные
          span опции тарифа
      .offers__cell.justify-content-start.offers__cell--price.js-offers-equal-height
        p.mb-0
          span.font-weight-bold.d-block Стоимость полиса
    .offers__tariff.js-offers-equal-height-block
      .offers__cell.js-offers-equal-height
        h4.mb-0 Тариф «Простой»
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Уход из жизни
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap до 50 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Установление инвалидности
          span 1 или 2 группы
        p.mb-0.text-right.text-md-center: span.text-nowrap 50 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Травмы
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap 50 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Госпитализация
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center
          span.text-nowrap до 500 р.
          |
          |в день
      .offers__cell.offers__cell--advantages.js-offers-equal-height
        p.mb-0.d-lg-none
          span.font-weight-bold.d-md-block Дополнительные&nbsp;
          span опции тарифа
        .offers__advantage Преимущество первое
      .offers__cell.offers__cell--price.js-offers-equal-height
        p.mb-0.d-lg-none.px-15.px-md-0
          span.font-weight-bold Стоимость полиса
        .offers__price.mb-md-15.px-15.px-md-0 999 р.
        .offers__btn: a.btn.btn-primary.w-100(href="#") Купить полис
    .offers__tariff.js-offers-equal-height-block
      .offers__cell.js-offers-equal-height
        h4.mb-0 Тариф «Средний»
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Уход из жизни
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap до 150 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Установление инвалидности
          span 1 или 2 группы
        p.mb-0.text-right.text-md-center: span.text-nowrap 150 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Травмы
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap 150 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Госпитализация
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center
          span.text-nowrap до 1 000 р.
          |
          |в день
      .offers__cell.offers__cell--advantages.js-offers-equal-height
        p.mb-0.d-lg-none
          span.font-weight-bold.d-md-block Дополнительные&nbsp;
          span опции тарифа
        .offers__advantage Преимущество первое
        .offers__advantage Преимущество второе
      .offers__cell.offers__cell--price.js-offers-equal-height
        p.mb-0.d-lg-none.px-15.px-md-0
          span.font-weight-bold Стоимость полиса
        .offers__price.mb-md-15.px-15.px-md-0 1 999 р.
        .offers__btn: a.btn.btn-primary.w-100(href="#") Купить полис
    .offers__tariff.js-offers-equal-height-block
      .offers__cell.js-offers-equal-height
        h4.mb-0 Тариф «Полный»
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Уход из жизни
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap до 250 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Установление инвалидности
          span 1 или 2 группы
        p.mb-0.text-right.text-md-center: span.text-nowrap 250 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Травмы
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center: span.text-nowrap до 250 000 р.
      .offers__cell.js-offers-equal-height
        p.mb-0.d-lg-none.pr-10.pr-md-0
          span.font-weight-bold.d-block Госпитализация
          span в результате несчастного случая
        p.mb-0.text-right.text-md-center
          span.text-nowrap до 1 500 р.
          |
          |в день
      .offers__cell.offers__cell--advantages.js-offers-equal-height
        p.mb-0.d-lg-none
          span.font-weight-bold.d-md-block Дополнительные&nbsp;
          span опции тарифа
        .offers__advantage Преимущество первое
        .offers__advantage Преимущество второе
        .offers__advantage Преимущество третье
      .offers__cell.offers__cell--price.js-offers-equal-height
        p.mb-0.d-lg-none.px-15.px-md-0
          span.font-weight-bold Стоимость полиса
        .offers__price.mb-md-15.px-15.px-md-0 2 999 р.
        .offers__btn: a.btn.btn-primary.w-100(href="#") Купить полис
