.vacancy {
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 2px solid #d7dee6;
  border-radius: 2px;

  @include transition;

  &:hover {
    box-shadow: 0 15px 34px 0 rgba(125, 137, 156, .2);

    .vacancy__title {
      color: $secondary;
    }
  }

  &__title {
    @include transition;
  }

  &__img {
    display: flex;
    height: 124px;
    align-items: flex-end;

    img {
      margin-right: auto;
      margin-left: auto;
      display: block;
      max-height: 100%;
    }
  }

  &__salary {
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    height: 30px;
    font-size: 15px;
    line-height: 32px;
    white-space: nowrap;
    color: #fff;
    background-color: $primary;
    align-self: center;
  }
}
