mixin vacancy(modifier, image, title, salary)
  a.vacancy.text-center(href="#")&attributes(attributes)
    .vacancy__img.mb-15
      img(src= image, alt)
    h6.vacancy__title.mb-25= title
    .vacancy__salary.mt-auto= salary