.modal {
  position: relative;
  padding: 0;
  display: none;
  border-radius: 2px;
  box-shadow: 0 15px 34px rgba(45, 45, 45, .2);

  @include media-breakpoint-down(xs) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba($black, .7);
    mix-blend-mode: normal;

    &--active {
      display: flex;

      .modal {
        display: block;
        background: #fff;
      }
    }
  }

  &__header {
    padding-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d5dbe5;

    @include media-breakpoint-down(xs) {
      padding: 0 20px;
      display: flex;
      height: 53px;
      align-items: center;
    }
  }

  &__title {
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
    }

    &--mobile-header {
      @include media-breakpoint-down(sm) {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-right: 63px;
        padding-left: 20px;
        display: flex;
        width: 100%;
        height: 53px;
        align-items: center;
        background: #fff;
        border-bottom: 1px solid #d5dbe5;
      }
    }

    &--simple {
      font-weight: 400;

      @include media-breakpoint-down(sm) {
        font-weight: 700;
      }
    }
  }

  &__content {
    padding: 40px;

    @include media-breakpoint-down(sm) {
      padding: 32px 15px 20px;
      display: flex;
      overflow: auto;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    &--mobile-header {
      @include media-breakpoint-down(sm) {
        padding-top: 93px;
        flex-shrink: 0;
      }
    }
  }

  &__content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      flex-grow: 0;
    }
  }

  &__footer {
    @include media-breakpoint-down(xs) {
      position: relative;
      margin-top: auto;
      margin-bottom: 53px;
    }
  }

  &__icon {
    margin: 0 auto;

    &--success {
      margin-bottom: 30px;
      width: 90px;
      height: 90px;
      background: url(../img/success.svg) no-repeat center;
      background-size: contain;
    }

    &--error {
      margin-bottom: 30px;
      width: 106px;
      height: 90px;
      background: url(../img/error.svg) no-repeat center;
      background-size: contain;
    }

    &--big {
      margin-bottom: 50px;
      width: 120px;
      height: 120px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
        width: 90px;
        height: 90px;
      }
    }
  }

  &__text {
    margin-bottom: 28px;
    text-align: center;
    color: #7d899c;
  }

  &__confirmation {
    display: flex;
    flex-direction: column;

    &--address {
      .field__label {
        opacity: 1;
      }

      @include media-breakpoint-down(xs) {
        display: block;

        .mb-40 {
          margin-bottom: 0 !important;
        }

        .field {
          margin-bottom: 40px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      height: 100%;
    }
  }

  &__confirmation-btn {
    order: 1;

    @include media-breakpoint-down(xs) {
      margin-top: 100px;
      order: 2;
    }
  }

  &__confirmation-comment {
    margin-top: 60px;
    margin-bottom: 0;
    order: 2;
    text-align: center;

    @include media-breakpoint-down(xs) {
      margin-top: 0;
      order: 1;
    }
  }

  &__back {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    &:before {
      margin-right: 5px;
      display: block;
      width: 15px;
      height: 15px;
      content: '';
      background: url(../img/arrow-back.svg) no-repeat;
      background-size: contain;
    }
  }

  .btn {
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    background: $primary url(../img/close--white.svg) no-repeat center;
    background-size: 20px;

    &--outside {
      position: absolute;
      top: 20px;
      right: -50px;
      width: 50px;
      height: 50px;
      background-size: 40px;
      border-radius: 0 2px 2px 0;

      @include media-breakpoint-down(xs) {
        z-index: 2;
        top: 0;
        right: 0;
        width: 53px;
        height: 53px;
        background-size: 20px;
        border-radius: 0;
      }
    }
  }

  &__robot {
    margin: 40px auto 30px;
    margin-top: 40px;
    width: 137px;
    height: 208px;
    background: url(../img/robot.svg) no-repeat;
  }

  &--short {
    width: 100%;
    max-width: 530px;
  }

  &--average {
    width: 100%;
    max-width: 660px;
  }

  &--average-plus {
    width: 100%;
    max-width: 690px;
  }

  &--mobile-close {
    .modal__close {
      display: none;

      @include media-breakpoint-down(xs) {
        display: block;
      }
    }
  }

  .registration {
    padding: 30px !important;
    overflow: auto;
    max-height: 100vh;
    background: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }

    &__form {
      padding: 0;
      box-shadow: none;
    }
  }

  &--confirmation {
    .modal__content {
      padding-top: 40px;
    }
  }
}
