mixin modal(modifier)
  .modal__wrapper.modal__wrapper--active
    .modal&attributes(attributes)

      if block
        block

      if modifier == 'modal--confirmation'
        .modal__header
          h4.modal__title.text-center.mb-0 Подтверждение регистрации
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("", "text", "Введите код из SMS", "confirmation", "Ошибка при заполнении поля").mb-40
            p.p--gray.modal__confirmation-comment Отправить код повторно через 120 сек.
            .modal__confirmation-btn
              button.btn.btn-primary.w-100(type="submit") Подтвердить

      if modifier == 'modal--success'
        .modal__content
          .modal__content-top
            .modal__icon.modal__icon--success
            h4.modal__title.text-center Регистрация завершена
            p.modal__text Поздравляем! Вы успешно зарегистрировались в системе Кардиф. Теперь вы можете пользоваться всеми услугами и сервисами
          .modal__footer
            a.btn.btn-primary.w-100(href="#") Перейти в личный кабинет

      if modifier == 'modal--error'
        .modal__content
          .modal__content-top
            .modal__icon.modal__icon--error
            h4.modal__title.text-center Пользователь зарегистрирован
            p.modal__text Пользователь с таким номером телефона уже зарегистрирован. Пожалуйста, авторизуйтесь, если это вы, или свяжитесь с нами удобным вам способом.
          .modal__footer
            a.btn.btn-primary.w-100(href="#") Авторизоваться
            a.modal__back(href="#") Вернуться назад

      if modifier == 'modal--callback'
        .modal__content.modal__content--mobile-header.px-15.p-md-30
          .modal__content-top
            h2.mb-10.modal__title.modal__title--mobile-header.text-center Заказ обратного звонка
            p.modal__text.d-none.d-md-block Для заказа обратного звонка из Кардиф, заполните поля ниже.
          form.form(action="#", method="POST")
            +field("", "text", "ФИО", "callbackName", "Ошибка при заполнении поля")
            .row.my-40.my-md-45
              .col-md-6.mb-40.mb-md-0
                +field("field--phone", "text", "Номер телефона", "callbackPhone", "Ошибка при заполнении поля")
              .col-md-6
                +field("", "text", "Email", "callbackEmail", "Ошибка при заполнении поля")
            +field("field--textarea", "text", "Комментарий", "callbackComment", "Ошибка при заполнении поля").field--textarea
            .custom-control.custom-checkbox.mt-30.mb-45
              input#callback1.custom-control-input(type='checkbox', required)
              input(type='hidden')
              label.custom-control-label(for='callback1')
                span Предоставляю ООО "СК КАРДИФ" согласие на обработку персональных данных. <br>С 
                  a(href="#") правилами обработки персональных  
                  | данных ознакомлен.
            +captcha.mb-40
            button.btn.btn-primary.w-100(type="submit") Отправить

      if modifier == 'modal--callback-success'
        .modal__content.modal__content--mobile-header.px-15.p-md-30
          .modal__content-top
            h2.modal__title.modal__title--mobile-header.mb-lg-100.text-center Заказ обратного звонка
            .modal__icon.modal__icon--big.modal__icon--success
            h3.modal__title.modal__title--simple.text-center.mb-10.mb-sm-20 Ваша заявка принята!
            p.text-center.mx-auto.mb-0 В ближайшее время наш специалист свяжется с вами по указанному номеру телефона. Спасибо, что пользуетесь услугами Кардиф!
          .modal__footer.mt-lg-100
            a.btn.btn-primary.w-100(href="#") Закрыть

      if modifier == 'modal--two-factor'
        .modal__header
          h4.modal__title.text-center.mb-0 Двухфакторная авторизация
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("field--password", "password", "Введите пароль", "confirmation", "Ошибка при заполнении поля").mb-40
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Подтвердить

      if modifier == 'modal--edit-password'
        .modal__header
          h4.modal__title.text-center.mb-0 Изменение пароля
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("field--password", "password", "Введите старый пароль", "confirmation", "Ошибка при заполнении поля").mb-40
            +field("field--password", "password", "Введите новый пароль", "confirmation", "Ошибка при заполнении поля").mb-40
            +field("field--password", "password", "Повторите новый пароль", "confirmation", "Ошибка при заполнении поля").mb-40
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Изменить пароль

      if modifier == 'modal--edit-phone'
        .modal__header
          h4.modal__title.text-center.mb-0 Изменение номера телефона
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("", "tel", "Введите новый номер телефона", "confirmation", "Ошибка при заполнении поля").mb-40
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Получить SMS-код

      if modifier == 'modal--phone-sms'
        .modal__header
          h4.modal__title.text-center.mb-0 Изменение номера телефона
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("", "number", "Введите код из SMS", "confirmation", "Ошибка при заполнении поля").mb-40
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Подтвердить

      if modifier == 'modal--edit-address'
        .modal__header
          h4.modal__title.text-center.mb-0 Адрес проживания
        .modal__content
          form.form.modal__confirmation.modal__confirmation--address(action="#", method="POST")
            .row.mb-40
              .col-sm-7
                +field("", "text", "Регион", "", "Ошибка при заполнении поля")
              .col-sm-5
                +field("", "text", "Город/населенный пункт", "", "Ошибка при заполнении поля")
            .row.mb-40
              .col-sm-5
                +field("", "text", "Улица", "", "Ошибка при заполнении поля")
              .col-sm-6
                .row
                  .col-4
                    +field("", "text", "Дом", "", "Ошибка при заполнении поля")
                  .col-4
                    +field("", "text", "Строение", "", "Ошибка при заполнении поля")
                  .col-4
                    +field("", "text", "Квартира", "", "Ошибка при заполнении поля")
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Сохранить изменения

      if modifier == 'modal--edit-email'
        .modal__header
          h4.modal__title.text-center.mb-0 Изменение e-mail
        .modal__content
          form.form.modal__confirmation(action="#", method="POST")
            +field("", "email", "Введите новый e-mail", "confirmation", "Ошибка при заполнении поля").mb-40
            .modal__footer
              button.btn.btn-primary.w-100(type="submit") Подтвердить

      if modifier == 'modal--request'
        .modal__robot
        h4.modal__title.text-center.mb-0.modal__request-header Ваше обращение создано
        .px-15.py-20.p-sm-30
          h5.mb-35.text-center.modal__request-content В ближайшее время наши специалисты приступят к работе по вашему обращению. Мы оповестим вас одальнейших действиях
          .modal__footer
            button.btn.btn-primary.w-100(type="submit") Вернуться к списку обращений
