mixin steps-list(modifier)
  .steps-list&attributes(attributes)
    .row
      .col-md-3
        +step('Название первого шага').steps-list__item
      .col-md-3
        +step('Название второго шага').steps-list__item
      .col-md-3
        +step('Название третьего шага').steps-list__item
      .col-md-3
        +step('Название четвертого шага').steps-list__item.steps-list__item--last
