.steps-list {
  &__item {
    position: relative;

    &:after {
      position: absolute;
      top: 43px;
      right: -75px;
      width: 112px;
      height: 19px;
      content: '';
      background: url(../img/step-arrow--dark.svg) right no-repeat;

      @include media-breakpoint-down(lg) {
        right: -53px;
        width: 66px;
      }

      @include media-breakpoint-down(md) {
        right: -40px;
        width: 50px;
      }

      @include media-breakpoint-down(sm) {
        top: 120%;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(90deg);
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 80px;
    }

    &--last {
      margin: 0;

      &:after {
        display: none;
      }
    }
  }
}
