mixin explanation(modifier)
  a.explanation(href="#")&attributes(attributes)
    .explanation__icon
    h6.text-primary.mb-0.explanation__header Что покроет страховка, если автомобиль угнали или полностью разбили в ДТП?
