.explanation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;

  &__icon {
    margin-right: 7px;
    min-width: 137px;
    max-width: 137px;
    height: 100%;
    min-height: 109px;
    flex-basis: 100%;
    background: url('/img/explanation-icon.svg') no-repeat right center transparent;

    @include media-breakpoint-down(sm) {
      min-width: 100%;
      max-width: 100%;
      background-position: center;
    }
  }

  &__header {
    position: relative;
    padding: 8px;
    flex-basis: 100%;

    &:after {
      margin-left: 10px;
      display: inline-block;
      width: 8px;
      height: 13px;
      content: '';
      background: url('/img/explanation-arrow.svg') no-repeat top left transparent;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-right: 30px;
    padding-left: 30px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
