h1 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 26px;
    line-height: 31px;
  }

  &.h1--lg {
    font-size: 62px;
    line-height: 70px;
  }
}

h2 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    line-height: 29px;
  }
}

h3 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 26px;
  }
}

h4 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
  }
}

h5 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: $black;

  &.h5--gray {
    color: $gray-secondary;
  }
}

h6 {
  margin-bottom: 25px;
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $black;

  @include media-breakpoint-down(sm) {
    font-size: 18px;
    line-height: 20px;
  }

  &.h6--lh-lg {
    line-height: 28px;
  }
}

p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 22px;
  color: $black;

  &.p--gray {
    color: $gray-secondary !important;
  }

  &.p--grayish {
    color: $gray;
  }

  &.p--lg {
    font-size: 17px;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {
  li {
  }
}

ol {
  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {
  &:focus {
    outline: none;
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.text-gray {
  color: $gray;
}

.text-grayish {
  color: $gray-secondary;
}

.box-shadow {
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);
}

.box-shadow-sm {
  box-shadow: 0 3px 5px rgba(125, 137, 156, .2);
}
