/* bnpp-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'BNPP Sans';
  font-weight: 400;
  font-style: normal;
  src: local('BNPP Sans Regular'), local('BNPPSans-Regular'),
    url('../fonts/bnpp-sans.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/BNPPSans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bnpp-rounded-regular - latin_cyrillic */
@font-face {
  font-family: 'BNPP Rounded';
  font-weight: 400;
  font-style: normal;
  src: local('BNPP Rounded'), local('BNPPRounded-Regular'),
    url('../fonts/BNPPRounded.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/BNPPRounded.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* bnpp-rounded-bold - latin_cyrillic */
@font-face {
  font-family: 'BNPP Rounded';
  font-weight: 700;
  font-style: normal;
  src: local('BNPP Rounded Bold'), local('BNPPRounded-Bold'),
    url('../fonts/BNPPRounded-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/BNPPRounded-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
