html {
}

body {
  -webkit-font-smoothing: antialiased;
  margin-top: 80px;
  font-family: $font-family-sans-serif !important;

  @include media-breakpoint-down(md) {
    margin-top: 53px;
  }

  &.body--fixed {
    overflow: hidden;
  }
}
