.captcha {
  &__refresh {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background: url(../img/refresh.svg) no-repeat;
    background-size: contain;
  }

  &__field {
    @include media-breakpoint-down(sm) {
      margin-top: 35px;
    }

    .field__label {
      display: none !important;
    }
  }
}
