mixin captcha(modifier)
  .captcha&attributes(attributes)
    .row
      .col-md-6
        .d-flex.align-items-center.justify-content-between
          img.captcha__img(src="https://placeimg.com/233/50/any", alt="Captcha")
          a.captcha__refresh(href="#")
      .col-md-6
        +field("", "text", "Введите текст с картинки", "captcha", "Неверно введены символы").w-100.captcha__field
