.step {
  &__icon {
    margin: auto;
    margin-bottom: 25px;
    width: 114px;
    height: 114px;
    background-position: center;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      width: 100px;
      height: 100px;
    }
  }

  p {
    margin: auto;
    width: 100%;
    max-width: 135px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }
}
