.slider {
  margin-bottom: 0 !important;

  &--light {
    position: static;
  }

  .slick-dots {
    bottom: 50px;
    left: 0;

    @include media-breakpoint-down(sm) {
      bottom: 20px;
    }
  }

  .slick-arrow {
    z-index: 1;
    display: block;
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;

    &:before {
      margin: 0 auto;
      display: block;
      width: 28px;
      height: 22px;
      opacity: 1;
      content: '';
      background-image: url(../img/slider--light-arrows.png);
      background-repeat: no-repeat;
    }
  }

  .slick-prev {
    left: 60px;

    &:before {
      background-position: 0 0;
    }

    &:hover {
      &:before {
        background-position: 0 -22px;
      }
    }

    @media only screen and (max-width: 1420px) {
      left: 15px;
    }
  }

  .slick-next {
    right: 60px;

    &:before {
      background-position: -28px 0;
    }

    &:hover {
      &:before {
        background-position: -28px -22px;
      }
    }

    @media only screen and (max-width: 1420px) {
      right: 15px;
    }
  }

  &__dark {
    .slick-arrow {
      width: 28px;
      height: 22px;
      background-color: transparent;
    }

    .slick-prev {
      left: -68px;

      @media only screen and (max-width: 1420px) {
        left: -38px;
      }
    }

    .slick-next {
      right: -68px;

      @media only screen and (max-width: 1420px) {
        right: -38px;
      }
    }

    .slick-dots {
      bottom: -50px;
    }
  }
}
