.type {
  padding: 35px 30px;
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: solid 1px #d7dee6;
  border-radius: 2px;
  cursor: pointer;

  @include transition;

  @include media-breakpoint-down(xs) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &:hover {
    background-color: #f2f4f8;
    border-color: #f2f4f8;

    h6 {
      color: #bb1f70;
    }
  }

  h6 {
    @include transition;
  }

  &__icon {
    display: table-cell;
    width: 60px;
    height: 70px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  &__content {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;

    @include media-breakpoint-down(xs) {
      padding-left: 0;
    }

    p {
      margin: 0;
      font-size: 13px;
    }
  }

  &--short {
    margin-bottom: 0;
    width: 100%;
    height: 100%;

    .type__content {
      padding-left: 0;
    }

    h6 {
      margin-bottom: 0 !important;
    }
  }
}
