mixin type(icon, title, dscr, modifier)
  .type&attributes(attributes)
    if icon
      .type__icon(style="background-image: url(./img/" + icon + ");")
    .type__content
      h6.mb-5= title
      if dscr
        p.p--gray= dscr
