.history {
  position: relative;
  overflow: hidden;

  &__container {
    position: relative;

    @include media-breakpoint-up(xl) {
      padding-right: 0;
      padding-left: 0;
      max-width: none !important;
    }
  }

  &__content {
    position: relative;
    margin: 0;
    padding-top: 10px;
    padding-right: calc((100vw - 1230px) / 2 + 7px);
    padding-left: calc((100vw - 1230px) / 2 + 7px);
    display: flex;
    max-width: 100%;
    list-style: none;
    cursor: grab;

    @include media-breakpoint-down(lg) {
      padding-left: 0;
    }
  }

  &__item {
    position: relative;
    padding-top: 25px;
    padding-right: 35px;
    width: 210px;
    flex-shrink: 0;
    border-top: 4px solid $primary;

    &:before {
      position: absolute;
      top: -11px;
      left: 0;
      display: block;
      width: 18px;
      height: 18px;
      content: '';
      background-color: $primary;
      border-radius: 50%;
    }

    &--large {
      width: 380px;

      @include media-breakpoint-down(lg) {
        width: 335px;
      }

      @include media-breakpoint-down(sm) {
        width: 250px;
      }
    }
  }

  &__item-date {
    font-size: 18px;
    color: $gray-secondary;
  }

  &__item-desc {
    max-width: 240px;
    font-size: 15px;
    color: $dark;
  }

  &__hide-line {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    width: calc((100vw - 1230px) / 2 + 7px);
    height: 100%;
    background-color: #fff;
    border-top: 4px solid #d4dbe4;

    &:before {
      position: absolute;
      top: -19px;
      display: block;
      width: 100%;
      height: 15px;
      content: '';
      background-color: #fff;
    }
  }
}
