mixin history(modifier)
  .history.py-50.py-md-70.py-xl-80&attributes(attributes)
    .container
      h4.history__title.text-center.text-md-left История Кардиф в России
    .container.history__container
      .history__hide-line.d-none.d-xl-block
      #history-scroll: ul.history__content
        li.history__item
          span.history__item-date.mb-15 Июль 2007 г.
          .history__item-desc компания BNP Paribas CARDIF создала 100% дочернюю компанию в России.
        li.history__item.history__item--large
          span.history__item-date.mb-15 2008 г.
          .history__item-desc количество Партнеров и портфель продуктов значительно расширились: кредитное страхование заемщиков потребительских, ипотечных и автокредитов, GAP-страхование...
        li.history__item
          span.history__item-date.mb-15 2012 г.
          .history__item-desc компания вышла на рынок ритейла с продуктами Продленная гарантия и Защита покупки.
        li.history__item
          span.history__item-date.mb-15 2013 г.
          .history__item-desc компания BNP Paribas CARDIF создала 100% дочернюю компанию в России.
        li.history__item
          span.history__item-date.mb-15 2014 г.
          .history__item-desc компания начала продажи страховых продуктов через новый канал дистрибуции - Телемаркетинг
        li.history__item
          span.history__item-date.mb-15 2015 г.
          .history__item-desc компания начала продажи страховых продуктов через новый канал дистрибуции - Телемаркетинг
        li.history__item
          span.history__item-date.mb-15 2016 г.
          .history__item-desc компания начала продажи страховых продуктов через новый канал дистрибуции - Телемаркетинг
        li.history__item
          span.history__item-date.mb-15 2017 г.
          .history__item-desc компания начала продажи страховых продуктов через новый канал дистрибуции - Телемаркетинг
        li.history__item
          span.history__item-date.mb-15 2018 г.
          .history__item-desc компания начала продажи страховых продуктов через новый канал дистрибуции - Телемаркетинг