mixin news(modifier, date, title, excerpt, tag)
  .news(class= modifier)&attributes(attributes)
    span.news__date= date
    a.news__title(href="#")= title
    .news__excerpt= excerpt
    if tag
      span.tag.news__tag= tag
    a.news__read(href="#")  