.news {
  position: relative;
  padding: 35px 30px;
  width: 100%;
  max-width: 390px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);

  @include transition;

  @include media-breakpoint-down(lg) {
    max-width: 290px;
  }

  @include media-breakpoint-down(md) {
    max-width: 340px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    width: auto;
    max-width: none;
    box-shadow: none;
  }

  &:hover {
    background-color: #179e6e;
    border-color: #179e6e;
    box-shadow: 0 15px 20px 0 rgba(23, 158, 110, .3);

    .news__title {
      color: #fff;
    }

    .news__date {
      color: #fff;
    }

    .news__excerpt {
      color: #fff;
    }
  }

  &--highlighted {
    border: solid 2px $secondary;
  }

  &--bordered {
    border: 2px solid #d4dbe4;
    box-shadow: none;
  }

  &--action {
    .news__title {
      color: $secondary;
    }
  }

  &__date {
    margin-bottom: 20px;
    display: block;
    font-size: 15px;
    color: #747474;

    @include transition;
  }

  &__title {
    margin-bottom: 30px;
    display: block;
    font-size: 22px;
    line-height: 24px;
    color: #2d2d2d;
    outline: none;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 20px;
    }

    &:hover {
      color: #2d2d2d;
    }
  }

  &__excerpt {
    font-size: 15px;
    line-height: 1.47;
    color: #2e2e2e;

    @include transition;
  }

  &__tag {
    position: absolute;
    top: 30px;
    right: -10px;

    @include media-breakpoint-down(sm) {
      right: 0;
    }
  }

  &__read {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: inline-block;
    width: 23px;
    height: 20px;
    background: url(/img/news__arrow.svg) no-repeat;
    background-size: cover;
    outline: none;
  }
}
