.shadow {
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842) !important;

  &--sm-none {
    @include media-breakpoint-down(sm) {
      box-shadow: none !important;
    }
  }
}

.overflow-hidden-md {
  @include media-breakpoint-up(md) {
    overflow: hidden;
  }
}

.bg-gray-secondary {
  background-color: $light-gray-secondary;
}

.bg-primary {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul li,
  ol li,
  blockquote {
    color: #fff !important;
  }

  .steps-list {
    &__item {
      &:after {
        background: url(../img/step-arrow.svg) right no-repeat;
      }
    }
  }
}

.arrow-back {
  margin-right: 16px;
  display: block;
  width: 28px;
  height: 22px;
  align-items: center;
  background: url(../img/arrow-back--gray.svg) no-repeat;
  background-size: contain;
}

.container--offset-top {
  position: relative;
  top: -50px;

  @include media-breakpoint-down(sm) {
    top: -30px;
  }
}

// Custom select
.select2 {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d7dee6;
  border-radius: 2px;

  @include transition;

  &:hover {
    border-color: #b3bdce;

    .select2-selection__arrow b {
      border-color: #7d899c;
    }
  }
}

.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-width: 1px 1px 2px;
  border-bottom-color: #179e6e;
  box-shadow: 0 5px 14px 0 rgba(125, 137, 156, .2);
}

.select2-container .select2-selection--single {
  height: 50px;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 45px;
  padding-left: 15px;
  font-size: 15px;
  color: #7d899c;

  @include transition;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__rendered {
  color: #2e2e2e;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 44px;
  height: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: -7px;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  border-width: 0 0 2px 2px;
  border-color: rgba(#7d899c, .6);
  transform: rotate(-45deg);

  @include transition;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  margin-top: -3px;
  border-width: 0 0 2px 2px;
  border-color: #179e6e;
  transform: rotate(135deg);
}

.select2-dropdown {
  background-color: #fff;
  border: solid 1px #d7dee6;
  border-radius: 2px;
  box-shadow: 0 5px 14px 0 rgba(125, 137, 156, .2);
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 260px;
}

.select2-results__option {
  padding: 0 19px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  color: #2e2e2e;

  @include transition;

  &:first-child {
    color: #7d899c;
  }

  &:hover {
    color: #2e2e2e;
    background-color: #f2f4f8;
  }
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  color: #179e6e;
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #2e2e2e;
  background-color: #f2f4f8;

  &:hover {
    color: #2e2e2e;
    background-color: #f2f4f8;
  }
}

.select2-container--open .select2-dropdown--above {
  top: -5px;
  border-bottom: 1px solid#d7dee6;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.select2-container--open .select2-dropdown--below {
  top: 5px;
  border-top: 1px solid#d7dee6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.select2-results__options {
  position: relative;
}

//perfect-scroll
.ps__rail-y {
  right: 7px !important;
  width: 4px !important;
  opacity: 1;

  &:hover {
    background-color: transparent;

    > .ps__thumb-y {
      width: 4px !important;
    }
  }
}

.ps__thumb-y {
  right: 0 !important;
  width: 4px !important;
  background-color: rgba(#7d899c, .5);
  border-radius: 2px;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-y:focus,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
}

//News slider
.news-slider .slick-slide {
  margin: 0 15px 50px;
  outline: none;

  @include media-breakpoint-down(lg) {
    margin-bottom: 90px;
  }

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.news-slider .slick-list {
  margin: 0 -15px;

  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-left: 0;
  }
}

.news-slider .slick-dots {
  bottom: -45px;
}

//slick dots
.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: #d4dbe4;
  border-radius: 10px;

  @include transition;
}

.slick-dots li.slick-active button {
  background-color: #179e6e;
}

//custom slick
.slick-slide {
  outline: none !important;
}

//BTN
.btn {
  padding-top: 17.3px;
  padding-bottom: 15.3px;
  line-height: 1;
  border-radius: 2px;

  &:focus {
    box-shadow: none !important;
  }

  &.btn-link {
    padding: 0 !important;
    height: auto !important;
    font-size: 15px;
    line-height: normal !important;
  }

  &.btn-primary {
    &--white {
      color: $primary;
      background: #fff;
      border-color: transparent;
    }
  }

  &--standalone {
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}

.btn-outline-primary {
  padding: 12px 30px;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  border: 2px solid #d4dbe4;
}

.custom-control-label {
  cursor: pointer;
}

.custom-checkbox {
  padding: 0;

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background: #32b788 url(../img/check--white.svg) no-repeat center;
      background-size: 11px 8px;
      border-color: $primary;
    }
  }

  .custom-control-input:focus ~ .custom-control-label {
    &:before {
      box-shadow: none;
    }
  }

  .custom-control-input:disabled ~ .custom-control-label:before {
    background-color: #f2f4f8 !important;
    background-image: url(../img/check.svg) !important;
    background-repeat: no-repeat;
    background-size: 11px 8px !important;
    border-color: #d7dee6 !important;
  }

  .custom-control-label {
    display: flex;
    font-size: 12px;

    span {
      display: inline;
      color: $black;
    }

    &:before {
      position: static;
      margin-right: 10px;
      display: block;
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      background: transparent;
      border: 1px solid #d7dee6;
      box-shadow: none;
    }

    &:after {
      display: none;
    }

    &:hover {
      &:before {
        border-color: #b3bdce;
      }
    }
  }

  &.custom-control--invalid {
    .custom-control-label {
      &:before {
        border: 2px solid $warning;
      }
    }
  }
}

.calc__header {
  .custom-checkbox {
    .custom-control-label {
      align-items: flex-start;
      font-size: 18px;

      @include media-breakpoint-down(xs) {
        font-size: 15px;
      }

      &:before {
        margin-right: 20px;

        @include media-breakpoint-down(xs) {
          margin-right: 10px;
        }
      }
    }
  }
}

/* Fancybox */

.fancybox-close-small {
  display: none;
  width: 53px;
  height: 53px;
  background: $primary url(../img/close--white.svg) no-repeat center;
  background-size: 20px;

  svg {
    display: none;
  }
}

.fancybox-bg {
  background: rgba($black, .7);
  mix-blend-mode: normal;
}

.fancybox-container {
  .fancybox-slide--html {
    @include media-breakpoint-down(sm) {
      padding: 0;
      font-size: 0;
    }
  }

  .fancybox-close-small {
    display: block;
  }

  .registration {
    padding-bottom: 40px !important;
    background: #fff;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }

    &__form {
      padding: 0;
      box-shadow: none;
    }
  }
}

.container--tariffs {
  @include media-breakpoint-down(xs) {
    padding: 0;
    max-width: 100%;
  }
}

// ion Rangeslider
.irs-handle {
  cursor: pointer;
}

.irs {
  &--flat {
    .irs-line {
      height: 6px;
      background-color: #d4dbe4;
      border-radius: 5px;
    }

    .irs-bar {
      height: 6px;
      background-color: #179e6e;
      border-radius: 5px;
    }

    .irs-min,
    .irs-max,
    .irs-single {
      display: none;
    }

    .irs-handle {
      top: 17px;
      width: 22px;
      height: 22px;
      background-color: #179e6e;
      border-radius: 50%;

      > i,
      i:first-child {
        display: none;
      }
    }

    &.irs--disabled {
      pointer-events: none;

      .irs-bar,
      .irs-handle {
        display: none;
      }

      .irs-line {
        opacity: .5;
      }

      + input + .calc__limits p.p--gray {
        opacity: .5;
      }
    }
  }
}

/* Datepicker */

/* Datepicker */

div.ui-datepicker {
  z-index: 99999 !important;
  margin-top: 10px;
  padding: 0;
  width: 345px;
  font-family: $font-family-sans-serif;
  background: #fff;
  border: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);

  @include media-breakpoint-down(sm) {
    left: 50% !important;
    margin-left: -172.5px !important;
  }

  .ui-datepicker-header {
    padding: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0;
  }

  .ui-datepicker-title {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 700;
    text-transform: uppercase;
    color: #252627;
  }

  .ui-datepicker-prev {
    top: 50%;
    left: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-next {
    top: 50%;
    right: 30px;
    margin-top: -5px;
    width: 7px;
    height: 10px;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      border: 0;
    }
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;

    tr {
    }

    th {
      padding-top: 10px;
      padding-bottom: 20px;
      height: 60px;
      font-size: 10px;
      line-height: .88;
      font-weight: 900;
      letter-spacing: .9px;
      text-transform: uppercase;
      color: #5c626b;
      border-bottom: 1px solid fade($primary, 20%);

      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }

    td {
      width: 35px !important;
      height: 40px;
    }
  }

  .ui-state-default {
    margin: 0 auto;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #252627;
    background: transparent;
    border: 0;
    border-radius: 50%;
  }

  .ui-state-active {
    background: $primary;
  }

  .ui-datepicker-today {
    .ui-state-default {
      background: #eaeaea;
    }
  }

  .selected {
    position: relative;

    .ui-state-default {
      color: #fff;
      background: $primary;
    }
  }

  .ui-icon {
    background: transparent !important;
  }

  .ui-datepicker-week-end {
    .ui-state-default {
      color: #ff2d2d;
    }

    &.selected {
      .ui-state-default {
        color: #fff;
      }
    }
  }

  .ui-datepicker-buttonpane {
    button {
      padding: 0 10px !important;
      width: auto !important;
    }
  }

  .ui-datepicker-month {
    width: 100px;
    height: 30px;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-year {
    margin-left: 5px;
    display: inline-flex;
    width: 100px;
    height: 30px;
    align-items: center;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    line-height: 30px;
    border-color: #eaeaea;
    border-radius: 4px;
  }

  .ui-datepicker-button {
    margin: 15px auto 10px;
    display: block;
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    cursor: pointer;

    @include transition;

    &:hover {
      color: #fff;
      background: $black;
    }
  }
}

/* Card-slider */

.card-slider {
}
