mixin request(title, infoHeader1, infoContent1, infoHeader2, infoContent2, infoHeader3, infoContent3, status, documents, modifier)
  .request&attributes(attributes)
    if status
      .request__status= status
    h5.request__title=title
    .request__content
      .request__content-left
        .request__info
          p.p--gray.mb-5= infoHeader1
          p.mb-0= infoContent1
        .request__info
          p.p--gray.mb-5= infoHeader2
          p.mb-0= infoContent2
        .request__info
          p.p--gray.mb-5= infoHeader3
          p.mb-0= infoContent3
      .request__content-right
        if documents
          .request__documents= documents
        if modifier == 'request--draft'
          a.request__remove(href="#") Удалить черновик
