.request {
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 31px 0 30px 32px;
  width: calc(100% - 23px);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);

  @include media-breakpoint-down(sm) {
    margin-bottom: 35px;
    width: calc(100% - 11px);
    box-shadow: 0 3px 5px rgba(125, 137, 156, .2);
  }

  &__status {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 180px;
    height: 30px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    background: #7d899c;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(95, 126, 171, .25);

    @include media-breakpoint-down(md) {
      width: 155px;
    }

    @include media-breakpoint-down(sm) {
      top: -15px;
      padding: 0 20px;
      width: auto;
      min-width: 110px;
    }

    &:before {
      position: relative;
      bottom: -3px;
      margin-right: 7px;
      display: inline-block;
      width: 18px;
      height: 18px;
      content: '';
      background: url(../img/request-mail.svg) no-repeat center center;
      background-size: 100%;
    }
  }

  &__title {
    padding-right: 210px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
      padding-right: 30px;
    }

    &:after {
      position: relative;
      bottom: -3px;
      margin-right: 7px;
      margin-left: 8px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/request-arrow_right.svg) no-repeat center center,
        url(../img/request-arrow_right-red.svg) no-repeat -100px center;
      background-size: 100%;
    }

    &:hover {
      color: #bb1f70;

      &:after {
        background: url(../img/request-arrow_right.svg) no-repeat -100px center,
          url(../img/request-arrow_right-red.svg) no-repeat center center;
      }
    }
  }

  &--in-work {
    .request__status {
      background: $primary;
      box-shadow: 0 5px 10px rgba(73, 204, 157, .5);

      &:before {
        background: url(../img/request-check.svg) no-repeat center center;
      }
    }
  }

  &--completed {
    .request__status {
      background: $primary;
      box-shadow: 0 5px 10px rgba(73, 204, 157, .5);

      &:before {
        background: url(../img/request-done.svg) no-repeat center center;
      }
    }
  }

  &__content {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__info {
    @include media-breakpoint-up(md) {
      margin-right: 35px;
      display: inline-block;
    }

    @include media-breakpoint-down(md) {
      margin-right: 47px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 18px;
    }

    p {
      padding: 0;
    }
  }

  &__content-left {
    @include media-breakpoint-up(md) {
      width: calc(100% - 170px);
    }
  }

  &__content-right {
    @include media-breakpoint-up(md) {
      display: flex;
      width: 170px;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__documents {
    font-size: 14px;

    &:before {
      position: relative;
      bottom: -4px;
      margin-right: 4px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/request-attachment.svg) no-repeat center center;
    }
  }

  &--draft {
    .request__title {
      color: $gray-secondary;

      &:after {
        background: url(../img/request-arrow_right-gray.svg) no-repeat center center;
      }
    }
  }

  &__remove {
    font-size: 15px;
    line-height: 18px;
    color: $gray-secondary;

    &:before {
      position: relative;
      bottom: -4px;
      margin-right: 4px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/request-delete.svg) no-repeat center center,
        url(../img/request-delete-green.svg) no-repeat -100px center;
    }

    &:hover {
      &:before {
        background: url(../img/request-delete-green.svg) no-repeat center center;
      }
    }
  }
}
