mixin offer(title, comment, modifier)
  .offer&attributes(attributes)
    .offer__content
      h6.mb-15= title
      p.p--gray.mb-15= comment
      a.btn.btn-primary(href="#") Узнать больше
    .offer__term до 12 декабря
    .offer__discount - 20%
