.offer {
  position: relative;
  padding: 30px;
  overflow: hidden;
  background: url('/img/offer-bgn.svg') no-repeat, #fff;
  background-position: 100% 106%;
  border-radius: 2px;
  box-shadow: 0 3px 5px 0 rgba(125, 137, 156, .2);

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    padding: 70px 15px 120px;
    min-height: 335px;
    background-position: -26px 78%;
    background-size: 239px 132px;
  }

  & + & {
    margin-top: 30px;
  }

  &__term {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px 12px 5px 37px;
    font-size: 14px;
    color: #fff;
    background: url('/img/white-clock.svg') no-repeat, #bb1f70;
    background-position: 12px center;
    border-radius: 2px;
    box-shadow: -3px 6px 7px 0 rgba(187, 31, 112, .2);
  }

  &__discount {
    position: absolute;
    right: -51px;
    bottom: -87px;
    padding-top: 36px;
    padding-left: 36px;
    width: 166px;
    height: 166px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #179e6e;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      right: -58px;
      bottom: -41px;
      padding-top: 29px;
      padding-left: 31px;
    }
  }

  .btn {
    width: 100%;
    max-width: 270px;

    @include media-breakpoint-down(sm) {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      max-width: 100%;
    }
  }
}
