.user-document {
  position: relative;
  margin: 0 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: #2e2e2e;

  &:before {
    margin-right: 10px;
    width: 31px;
    height: 32px;
    content: '';
    background: transparent url(../img/user-document.jpg) 0 0 no-repeat;
    background-size: 26px 32px;
  }

  &--added {
    &:before {
      background: transparent url(../img/user-document--added.jpg) 0 0 no-repeat;
      background-size: 31px 32px;
    }
  }
}
