mixin user-document
  .pt-45.pb-15.px-30
    h6.mb-25 Документы
    .row
      .col-sm-6
        a.user-document.user-document--added(href="#") Договор страхования
        a.user-document.user-document--added(href="#") Памятка
        a.user-document(href="#") Ксерокопия паспорта
      .col-sm-6
        a.user-document.user-document--added(href="#") Страховой полис
        a.user-document.user-document--added(href="#") Правила страхования
        a.user-document(href="#") Водительские права