
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/search/search.pug
include ../blocks/hero/hero.pug
include ../blocks/form/form.pug
include ../blocks/select/select.pug
include ../blocks/category/category.pug
include ../blocks/tag/tag.pug
include ../blocks/comment/comment.pug
include ../blocks/comments-slider/comments-slider.pug
include ../blocks/preview/preview.pug
include ../blocks/previews-slider/previews-slider.pug
include ../blocks/news/news.pug
include ../blocks/news-slider/news-slider.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/apps/apps.pug
include ../blocks/tabs-primary/tabs-primary.pug
include ../blocks/js-tabs/js-tabs.pug
include ../blocks/data/data.pug
include ../blocks/data-slider/data-slider.pug
include ../blocks/info-slider/info-slider.pug
include ../blocks/info/info.pug
include ../blocks/history/history.pug
include ../blocks/section/section.pug
include ../blocks/document/document.pug
include ../blocks/tabs-secondary/tabs-secondary.pug
include ../blocks/leader/leader.pug
include ../blocks/leaders-slider/leaders-slider.pug
include ../blocks/field/field.pug
include ../blocks/vacancy/vacancy.pug
include ../blocks/cta/cta.pug
include ../blocks/back-link/back-link.pug
include ../blocks/js-filter/js-filter.pug

include ../blocks/wrapper/wrapper.pug
include ../blocks/previews-grid/previews-grid.pug
include ../blocks/registration/registration.pug
include ../blocks/modal/modal.pug
include ../blocks/greeting/greeting.pug
include ../blocks/enter/enter.pug
include ../blocks/link-back/link-back.pug
include ../blocks/front/front.pug
include ../blocks/offers/offers.pug
include ../blocks/tariff/tariff.pug
include ../blocks/calc/calc.pug
include ../blocks/range/range.pug
include ../blocks/advantage/advantage.pug
include ../blocks/steps-list/steps-list.pug
include ../blocks/step/step.pug
include ../blocks/accent/accent.pug
include ../blocks/picture/picture.pug
include ../blocks/slider/slider.pug
include ../blocks/tariffs-list/tariffs-list.pug
include ../blocks/appeal/appeal.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/captcha/captcha.pug
include ../blocks/cabinet/cabinet.pug

include ../blocks/validity/validity.pug
include ../blocks/offer/offer.pug
include ../blocks/paper/paper.pug
include ../blocks/inquiry/inquiry.pug

include ../blocks/item/item.pug
include ../blocks/request/request.pug
include ../blocks/papers/papers.pug
include ../blocks/type/type.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/card-slider/card-slider.pug
include ../blocks/explanation/explanation.pug
include ../blocks/stack/stack.pug
include ../blocks/user-document/user-document.pug