doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug

  body
    block content
    script(src="js/vendor.js?version=1")
    script(src="js/scripts.js?version=1")
