.inquiry {
  position: relative;
  padding: 30px;

  @include media-breakpoint-down(xs) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__progress {
    position: relative;
    display: inline-block;
  }

  &__steps-count-dscr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: $gray-secondary;
    transform: translateY(-50%);

    span {
      margin-bottom: 5px;
      display: block;
      font-size: 22px;
      line-height: 1;
      font-weight: 700;
      color: $dark;
    }
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__steps-wrapper {
    @include media-breakpoint-down(sm) {
      padding-left: 18px;
    }
  }

  &__content-left {
    margin-right: 30px;
    flex-shrink: 0;
    text-align: center;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 30px;
      right: 30px;
      margin-right: 0;
    }
  }

  &__content-details {
    position: relative;
    padding-right: 20px;
    display: inline-block;
    color: $dark;
    outline: 0 !important;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 12px;
      height: 100%;
      content: '';
      background-image: url(../img/ic-drop-gray.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    &.is-open {
      &:after {
        transform: scale(1, -1);
      }
    }
  }

  &__step {
    position: relative;
    margin-bottom: 30px;
    padding-top: 4px;
    display: none;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: -39px;
      display: none;
      width: 24px;
      height: 24px;
      content: '';
      border-radius: 50%;

      @include media-breakpoint-down(sm) {
        left: -29px;
        width: 18px;
        height: 18px;
      }
    }

    &--completed {
      margin-bottom: 30px;
      font-size: 13px;
      line-height: 18px;
      color: $gray-secondary;

      &:before {
        background-color: $primary;
        background-image: url(../img/ic-ok.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--next {
      font-size: 13px;
      line-height: 18px;
      color: $gray-secondary;

      &:before {
        left: -36px;
        width: 18px;
        height: 18px;
        background-color: #e5e7eb;

        @include media-breakpoint-down(sm) {
          left: -29px;
        }
      }
    }

    &--current {
      display: block;

      &:after {
        @include media-breakpoint-down(sm) {
          position: absolute;
          top: -19px;
          left: -24px;
          display: block;
          width: 18px;
          height: 78px;
          content: '';
          background-image: url(../img/ic-current-step.svg);
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }

      &:before {
        background-color: #fff;
        border: 5px solid $primary;
      }
    }

    h5 {
      @include media-breakpoint-down(xs) {
        font-size: 15px;
      }
    }
  }

  &__step-info-header {
    font-size: 13px;
    color: $gray-secondary;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      padding-right: 105px;
    }
  }
}

.inquiry.is-open {
  .inquiry__step {
    display: block;

    &:before {
      display: block;
    }

    &:after {
      display: none;
    }
  }

  .inquiry__progress {
    display: none;
  }

  .inquiry__content {
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .inquiry__steps-wrapper {
    margin-left: 15px;
    padding-left: 25px;
    border-left: 4px solid rgba(125, 137, 156, .2);

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      padding-left: 18px;
    }
  }

  .inquiry__content-left {
    order: 2;
    text-align: left;
  }
}
