mixin inquiry(modifier,value)
  .inquiry.js-inquiry&attributes(attributes)
    h3.inquiry__title.mb-20 Убыток 1
    .inquiry__content
      .inquiry__content-left
        .inquiry__steps-count.d-none.d-md-block
          h5.font-weight-bold.text-center.mb-15
          .inquiry__progress
            .js-circle-progress(data-value=value)
            p.inquiry__steps-count-dscr
              span 2
              |Шаг
        a.inquiry__content-details.js-inquiry-open(href="javascript;:") Подробнее
      .inquiry__steps-wrapper
        .inquiry__step.inquiry__step--completed В рассмотрении
        .inquiry__step.inquiry__step--current
          h5.mb-15 Запрос документов: заявление о признании договора страхования незаключенным с банковскими реквизитами и копия паспорта
          p.p--gray.mb-30.pt-0 Для продолжения работы наших специалистов по вашему обращению, нам необходимо получить от вас дополнительный набор документов, приведенный ниже. Загрузите их, воспользовавшись формой загрузки
          .d-sm-flex
            .mr-sm-60
              .inquiry__step-info-header Срок подачи документов
              p.mb-0 до 3 февраля 2019 г.
            .mr-sm-60
              .inquiry__step-info-header Ответственный
              p.mb-0 Вы
        .inquiry__step.inquiry__step--next Принято решение о выплате/<br>Принято решение об отказе в выплате ДС
    if block
      block
