.comments-slider {
  margin-right: -500px;

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }

  &__item {
    margin-right: 20px;
    max-width: 534px;
    opacity: .5;
    cursor: grab;

    @include media-breakpoint-down(lg) {
      max-width: 450px;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      max-width: none;
    }

    &.slick-current {
      opacity: 1;
    }
  }
}
