.cta {
  padding: 42px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 5px 0 rgba(125, 137, 156, .2);

  @include transition;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }

  &:hover {
    box-shadow: 0 15px 34px 0 rgba(125, 137, 156, .2);
  }

  &__info {
    margin-right: 30px;
    flex: 1 0;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 30px;
      width: 100%;
      flex: 0 1 auto;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    color: #2d2d2d;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      font-size: 20px;
      text-align: center;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: #2e2e2e;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__btn {
    padding: 0;
    width: 100%;
    max-width: 210px;
    height: 50px;
    line-height: 50px;

    @include media-breakpoint-down(sm) {
      margin: auto;
    }
  }

  &--green {
    background-color: #179e6e;
    border-radius: 2px;
    box-shadow: none;

    &:hover {
      background-color: #bb1f70;
    }

    .cta__title {
      color: #fff;
    }

    .cta__text {
      color: #fff;
    }
  }

  &--border {
    border: 2px solid #d7dee6;
    box-shadow: none !important;
  }
}
