mixin cta(modifier, title, text, buttonText)
  .cta(class= modifier)&attributes(attributes)
    .cta__info
      h5.cta__title= title
      .cta__text= text
    a.btn.btn-primary.cta__btn(href="#")= buttonText
