mixin preview(modifier, image, title, desc, tag, type, titleIcon, textSecond)
  a.preview(class= modifier, href="#")&attributes(attributes)
    if image
      .preview__img
        img(src= image, alt)
    .preview__content
      if titleIcon == "true"
        .preview__title.preview__title--has-icon= title
          if textSecond
            .preview__text-second= textSecond
      else
        .preview__title= title
          if textSecond
            .preview__text-second= textSecond
      if desc != ""
        .preview__desc= desc
      if type == "article"
        span.tag.tag--green.preview__tag= tag
      else if type == "video"
        span.tag.tag--red.preview__tag= tag