.preview {
  position: relative;
  padding: 30px;
  padding-top: 270px;
  display: block;
  flex-grow: 1;
  background-color: #f2f4f8;

  @include media-breakpoint-down(lg) {
    padding-top: 220px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 270px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__content {
    @include media-breakpoint-down(sm) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      height: 200px;
    }

    @include media-breakpoint-down(md) {
      height: 250px;
    }

    @include media-breakpoint-down(sm) {
      position: relative;
      margin-bottom: 15px;
      padding: 0;
      display: flex;
      height: 190px;
      justify-content: center;
      align-items: center;
    }

    img {
      display: block;
      max-height: 100%;
      flex: 0 0 auto;
    }
  }

  &__tag {
    position: absolute;
    top: 30px;
    left: 30px;
    min-width: 90px;
  }

  &__title {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 20px;
    text-align: center;
    color: $dark;

    @include transition;

    &--has-icon {
      &:after {
        position: relative;
        top: 5px;
        display: inline-block;
        width: 16px;
        height: 21px;
        content: '';
        background: url(../img/lock--gray.svg) no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &__text-second {
    height: 0;
    opacity: 0;
    font-size: 15px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__desc {
    padding-top: 20px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }

  &--hover {
    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      content: '';
      background-image: url('../img/ico-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: calc(100% + 25px) calc(100% - 25px);
      background-size: 20px;

      @include transition;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:hover {
      &:after {
        opacity: .9;
        background-position: calc(100% - 25px) calc(100% - 25px);
      }

      .preview__title {
        color: #fff;
        transform: translateY(-135px);

        @include media-breakpoint-down(lg) {
          transform: translateY(-110px);
        }

        @include media-breakpoint-down(md) {
          transform: translateY(-135px);
        }

        @include media-breakpoint-down(sm) {
          color: $dark;
          transform: none;
        }
      }

      .preview__text-second {
        padding-top: 25px;
        opacity: 1;
      }
    }
  }

  &--hover-primary {
    &:after {
      background-color: $primary;
    }
  }

  &--hover-red {
    &:after {
      background-color: $warning;
    }
  }

  &--fullwidth {
    @include media-breakpoint-up(md) {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      display: flex;
      width: 100%;

      .preview__content {
        padding-top: 100px;
        padding-bottom: 60px;
        width: 40%;
        order: -1;
      }

      .preview__title {
        text-align: left;
        transform: none !important;
      }

      .preview__img {
        position: relative;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-grow: 1;
      }
    }
  }

  &--secondary {
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 300px;
    overflow: hidden;
    color: #fff;
    background: #202337;
    background-size: cover;

    @include transition;

    .preview__content {
      @include media-breakpoint-down(sm) {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .preview__title {
      text-align: left;
      color: #fff;

      &--has-icon {
        &:after {
          background: url(../img/lock--white.svg) no-repeat;
          background-size: contain;
        }
      }
    }

    .preview__img {
      top: auto;
      bottom: 11px;
      left: 45px;
      padding: 0;
      width: auto;
      height: auto;
      opacity: .43;

      img {
        width: 495px;
        max-width: none;
        height: 281px;
      }
    }

    .preview__tag {
      left: 40px;
    }

    &:hover {
      color: #fff;
    }
  }
}
