mixin calc(modifier)
  .calc&attributes(attributes)

    if modifier == 'calc--detailed'
      .calc__content
        h2.mb-15 Наши тарифы
        p.p--lg.p--gray.mb-35 Выберите подходящий тарифный план, а все остальное мы возьмем на себя
        .calc__item
          .calc__header
            .d-flex.align-items-center
              .custom-control.custom-checkbox
                input#customCheck1.custom-control-input(type='checkbox', checked)
                label.custom-control-label(for='customCheck1') Страхование имущества
            .calc__input-wrapper
              input#calc-input-1.calc__input(type="number", value="130000")
              p.p--gray.calc__currency.mb-0 руб.
          input#calcRange1.range.js-range(type="range", data-min="100000", data-max="400000", data-from="130000", data-step="10000", data-input="#calc-input-1")
          .calc__limits
            p.mb-0.p--gray 100 т.р.
            p.mb-0.p--gray 400 т.р.
        .calc__item
          .calc__header
            .d-flex.align-items-center
              .custom-control.custom-checkbox
                input#customCheck2.custom-control-input(type='checkbox', checked)
                label.custom-control-label(for='customCheck2') Гражданская ответственность
            .calc__input-wrapper
              input#calc-input-2.calc__input(type="number", value="250000")
              p.p--gray.calc__currency.mb-0 руб.
          input#calcRange2.range.js-range(type="range", data-min="100000", data-max="400000", data-from="250000", data-step="10000", data-input="#calc-input-2")
          .calc__limits
            p.mb-0.p--gray 100 т.р.
            p.mb-0.p--gray 400 т.р.
        .calc__item
          .calc__header
            .d-flex.align-items-center
              .custom-control.custom-checkbox
                input#customCheck3.custom-control-input(type='checkbox', checked)
                label.custom-control-label(for='customCheck3') Помощь с арендой жилья
              .calc__bonus +Bonus
            .calc__input-wrapper
              input#calc-input-3.calc__input(type="number", value="21000")
              p.p--gray.calc__currency.mb-0 руб.
          input#calcRange3.range.js-range(type="range", data-min="20000", data-max="60000", data-from="21000", data-step="1000", data-input="#calc-input-3")
          .calc__limits
            p.mb-0.p--gray 20 т.р.
            p.mb-0.p--gray 60 т.р.

    if modifier == 'calc--short'
      .calc__content
        h2.mb-15 Наши тарифы
        p.p--lg.p--gray.mb-35 Выберите подходящий тарифный план, а все остальное мы возьмем на себя
        .calc__item
          .calc__header
            p.p--lg.mb-0 Ваш остаток по ипотечному кредиту
            .calc__input-wrapper
              input#calc-input-4.calc__input(type="number", value="1250000")
              p.p--gray.calc__currency.mb-0 руб.
          input#calcRange1.range.js-range(type="range", data-min="1000000", data-max="3000000", data-from="1250000", data-step="50000", data-input="#calc-input-4")
          .calc__limits
            p.mb-0.p--gray 1 млн.р.
            p.mb-0.p--gray 3 млн.р.
          .calc__advantages-list
            .calc__advantage Страхование жизни и здоровья -
              span.font-weight-bold 1 000 000 руб.
            .calc__advantage Страхование имущества -
              span.font-weight-bold 1 000 000 руб.

    .calc__result
      img.calc__result-picture(src="img/calc-result.svg", alt="Picture")
      h6.mb-10.font-weight-normal.text-center Стоимость полиса
      h3.text-center.mb-30 1 999 руб./год
      a.btn.btn-primary(href="#") Купить полис
