.calc {
  display: flex;
  flex-direction: row;
  background-color: $white;
  border-radius: 2px;

  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
    display: block;
  }

  &__content {
    padding: 47px 40px 37px;
    flex-basis: 100%;

    @include media-breakpoint-down(md) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__result {
    padding-top: 55px;
    display: flex;
    max-width: 370px;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    border-left: 1px solid #d4dbe4;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-right: 15px;
      padding-left: 15px;
      max-width: none;
      border: none;
    }

    .btn {
      width: 270px;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__limits {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #d5dbe5;

    &:first-of-type {
      padding-top: 0;
      border: none;
    }
  }

  &__input-wrapper {
    padding: 4px 13px 0 15px;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #d7dee6;
    border-radius: 2px;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__input {
    margin-right: 8px;
    width: 64px;
    font-size: 15px;
    line-height: 1;
    text-align: left;
    border: none;

    @include media-breakpoint-down(xs) {
      max-width: calc(100% - 27px);
      flex-grow: 1;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &__bonus {
    margin: 0 20px;
    display: flex;
    width: 80px;
    height: 29px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    background: #bb1f70;
    border-radius: 2px;
    box-shadow: -3px 6px 7px rgba(187, 31, 112, .2);
  }

  &__advantages-list {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #d5dbe5;
  }

  &__advantage {
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    background-image: url('../img/ico_done.svg');
    background-repeat: no-repeat;
    background-position: left 0;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
