.greeting {
  display: flex;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  background: #f2f2f2 url(../img/city-bg-2.svg) no-repeat bottom center;
  background-size: contain;
}
