.section {
  overflow: hidden;

  &__bg-text {
    position: relative;

    &:after {
      position: absolute;
      z-index: -1;
      top: -30px;
      right: 0;
      display: block;
      opacity: .06;
      font-size: 160px;
      line-height: 1;
      font-weight: 700;
      content: attr(data-text-logo);
      color: $gray-secondary;

      @include media-breakpoint-down(md) {
        right: -40px;
      }

      @include media-breakpoint-down(sm) {
        top: 20px;
        right: auto;
        left: 50%;
        font-size: 80px;
        transform: translateX(-50%);
      }
    }
  }

  &__title {
    small {
      margin-bottom: -6px;
      font-size: 15px;
      line-height: 1;
      text-align: right;
      color: $primary;
    }

    &--magazine {
      padding-left: 60px;
      display: inline-block;
      min-height: 55px;
      background-image: url('../img/shield.svg');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 42px 52px;

      @include media-breakpoint-down(sm) {
        padding-left: 50px;
        background-position: left top;
        background-size: 34px 42px;
      }
    }
  }

  &__article {
  }

  &__article-more-btn {
  }

  &__article-more {
    display: none;
  }

  &__request {
    padding: 50px 0 170px;
    background: #f2f4f8 url(../img/create-request-bg.png) center bottom repeat-x;

    &--box {
      padding: 30px 30px 0;
      background-color: #ffffff;

      @include media-breakpoint-down(xs) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  &--approach {
    margin-left: -74px;
    padding-top: 130px;
    padding-bottom: 90px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      padding-top: 50px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 20px;
    }

    p {
      font-size: 18px;
      line-height: 28px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &--gray-bg {
    background: #f2f4f8;
  }

  &--border-top {
    border-top: 4px solid #f2f4f8;
  }

  &--border-bottom {
    border-bottom: 4px solid #f2f4f8;
  }

  &--read-more {
    border-top: 10px solid #f2f4f8;
  }

  &--news {
    .section__title {
      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }
  }

  &--create-request-form {
    background-color: $light-gray-secondary;

    @include media-breakpoint-up(lg) {
      background-image: url(../img/city-bg-1.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
  }
}
