mixin appeal(modifier)
  .appeal&attributes(attributes)
    .container
      .appeal__header
        h2.appeal__title Защитите свою недвижимость
        p.appeal__dscr Мы желаем вам никогда не сталкиваться с...
      .appeal__btns-wrapper
        a.btn.btn-primary.btn-primary--white.appeal__btn(href="#") Продлить полис
        a.btn.btn-primary.btn-primary--white.appeal__btn(href="#") Купить полис
