.appeal {
  padding: 130px 0;
  text-align: center;
  color: #fff;
  background-image: url('../img/appeal-bg.jpg');
  background-position: center center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 34px;
    }

    &:after {
      margin-top: 15px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      width: 105px;
      height: 6px;
      content: '';
      background-color: $primary;
      border-radius: 7.5px;
    }
  }

  &__dscr {
    margin-bottom: 0;
    color: #fff;
  }

  &__btn {
    min-width: 210px;
  }

  &__btns-wrapper {
    .btn {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
}
