.socials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;

  &__item {
    margin: 7px 10px 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    border-radius: 3px;
    transition: $transition-base;

    &--fbm {
      background-image: url('../img/fbm.svg');

      &:hover {
        box-shadow: 0 5px 6px 0 rgba(0, 132, 255, .24);
      }
    }

    &--vk {
      background-image: url('../img/vk.svg');

      &:hover {
        box-shadow: 0 5px 6px 0 rgba(73, 120, 184, .24);
      }
    }

    &--fb {
      background-image: url('../img/fb.svg');

      &:hover {
        box-shadow: 0 5px 6px 0 rgba(71, 89, 147, .24);
      }
    }

    &--ig {
      background-image: url('../img/ig.svg');

      &:hover {
        box-shadow: 0 5px 6px 0 rgba(248, 47, 130, .24);
      }
    }

    &--tw {
      background: #1da1f3 url('../img/tw.svg') no-repeat center;

      &:hover {
        box-shadow: 0 5px 6px rgba(29, 161, 243, .24);
      }
    }

    &--yt {
      background: #f70808 url('../img/yt.svg') no-repeat center;

      &:hover {
        box-shadow: 0 5px 6px rgba(247, 8, 8, .24);
      }
    }

    &--tg {
      background: #209ada url('../img/tg.svg') no-repeat center;

      &:hover {
        box-shadow: 0 5px 6px rgba(32, 154, 218, .24);
      }
    }

    &--vb {
      background: #6636b3 url('../img/vb.svg') no-repeat center;

      &:hover {
        box-shadow: 0 5px 6px rgba(102, 54, 179, .24);
      }
    }

    &--wa {
      background: #0fb84e url('../img/wa.svg') no-repeat center;

      &:hover {
        box-shadow: 0 5px 6px rgba(15, 184, 78, .24);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
  }

  &.socials__messenger {
    @include media-breakpoint-down(sm) {
      justify-content: flex-end;
    }
  }
}
