.advantage {
  &__picture {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    display: flex;
    width: 114px;
    height: 114px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    img {
      max-height: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &--line {
    margin-bottom: 30px;
    display: flex;

    .advantage__picture {
      margin: 0;
      width: 50px;
      height: 50px;

      @include media-breakpoint-down(sm) {
        width: 65px;
        height: 65px;
      }
    }

    .advantage__content {
      padding-left: 30px;

      @include media-breakpoint-down(sm) {
        padding-left: 10px;
      }
    }

    .advantage__title {
      margin-bottom: 5px;
      font-size: 15px;
    }
  }
}
