mixin advantage(header, dscr, modifier)
  .advantage&attributes(attributes)
    .advantage__picture: img(src="./img/advantage-img1.png")
    .advantage__content
      h6.advantage__title= header
      p.p--gray.mb-0= dscr
