.category {
  position: relative;
  padding: 45px 15px 30px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);

  @include transition();

  @include media-breakpoint-up(md) {
    padding: 20px 10px;
    padding-bottom: 25px;
    box-shadow: 0 0 0 1px $light-gray;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 45px;

    &:hover {
      z-index: 1;
      box-shadow: 0 0 0 1px $light-gray, 0 15px 34px 0 rgba(125, 137, 156, .2);

      .category__title {
        color: $secondary;
      }

      .category__price {
        opacity: 1;
      }

      .category__info {
        transform: translateY(-30px);
      }
    }
  }

  &__img {
    padding-bottom: 15px;
    display: block;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
      display: flex;
      height: 208px;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__title {
    margin-bottom: 15px;
    display: block;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    color: $dark;

    @include transition();
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    @include transition;
  }

  &__price {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 15px;
    line-height: 32px;
    white-space: nowrap;
    color: #fff;
    background-color: $primary;
    border-radius: 2px;

    @include transition();

    @include media-breakpoint-up(lg) {
      opacity: 0;
    }
  }

  &__desc {
    margin-bottom: 15px;
    font-size: 15px;
    color: $gray;
  }

  &__tag {
    position: absolute;
    top: 20px;
    right: -10px;
    display: block;
  }

  &--fullwidth {
    max-width: 100%;

    @include media-breakpoint-up(md) {
      padding: 0;
      display: flex;

      &:hover {
        .category__info {
          transform: none;
        }
      }

      .category__info {
        padding: 20px 0 40px 30px;
        max-width: 33.3333%;
        align-items: flex-start;
        order: -1;

        @include media-breakpoint-up(lg) {
          transform: translateY(30px);
        }
      }

      .category__title {
        text-align: left;
      }

      .category__price {
        order: 1;
      }

      .category__img {
        padding-bottom: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        justify-content: flex-end;
        align-items: flex-end;
        flex-grow: 1;
      }
    }
  }
}
