mixin category(modifier, image, title, price, desc, tag)
  .category(class= modifier)&attributes(attributes)
    a.category__img(href="#")
      img(src= image, alt)
    .category__info
      a.category__title(href="#")= title
      span.category__price= price
      if desc
        .category__desc.d-none.d-md-block= desc
    if tag
      span.tag.category__tag= tag