.hero {
  background-position: center center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    padding-top: 100px;
    height: 500px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 140px;
    height: 600px;
  }

  @include media-breakpoint-down(sm) {
    background-image: none;
  }

  &--news {
    z-index: 1;
    padding-top: 100px;
    overflow: hidden;
    height: auto;
    background: #f2f4f8;

    @include media-breakpoint-down(sm) {
      padding-top: 50px;
      text-align: center;
    }

    .hero__title {
      max-width: 100%;

      @include media-breakpoint-down(sm) {
        color: #2e2e2e;
      }
    }

    .hero__desc {
      color: #747474;

      @include media-breakpoint-down(sm) {
        position: relative;
        z-index: 1;
        margin-bottom: 0;
        padding: 30px 0;

        &:after {
          position: absolute;
          z-index: -1;
          top: 0;
          right: -300px;
          left: -300px;
          height: 100%;
          content: '';
          background: #fff;
        }
      }
    }
  }

  &__about {
    padding: 170px 0;
    height: auto;
    background-color: #f2f4f8;
    background-repeat: no-repeat;
    background-position: right calc(100% - 60px);
    background-size: 678px auto;

    @include media-breakpoint-down(lg) {
      padding-top: 70px;
    }

    @include media-breakpoint-down(md) {
      padding: 50px 0 130px;
      background-position: center bottom !important;
      background-size: 220px auto !important;
    }

    .hero__title {
      margin-bottom: 30px;
      max-width: inherit;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        font-size: 26px;
        text-align: center;
        color: #2d2d2d;
      }
    }

    .hero__desc {
      width: 630px;

      p {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 28px;
        color: #747474;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      @include media-breakpoint-down(lg) {
        width: 54%;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @media only screen and (max-width: 1390px) {
      background-position: calc(100% + 200px) calc(100% - 60px);
    }
  }

  &__bg-mob {
    min-height: 280px;
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      background-image: none !important;
    }
  }

  &__title {
    max-width: 640px;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      color: #fff;
    }
  }

  &__feature {
    margin-right: 40px;
    display: flex;
    max-width: 240px;
    align-items: center;
  }

  &__text {
    font-size: 15px;
  }

  &__feature-icon {
    margin-right: 20px;
    width: 51px;
    flex-shrink: 0;
  }

  &--article {
    padding-bottom: 80px;
    height: auto;
    min-height: 490px;
    background-position: right bottom;

    @include media-breakpoint-down(lg) {
      padding-top: 70px;
      padding-bottom: 40px;
      min-height: 410px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 30px;
      min-height: 280px;
      background-position: right center;
    }

    @include media-breakpoint-down(xs) {
      text-align: center;
    }

    .hero__desc {
      max-width: 626px;
    }

    .hero__title {
      max-width: 830px;

      @include media-breakpoint-down(sm) {
        color: $dark;
      }

      @include media-breakpoint-down(xs) {
        text-align: center;
      }
    }
  }

  &--shops {
    padding-bottom: 120px;
    height: auto;
    background-image: url('../img/magazine-bg.png') !important;
    background-size: cover;

    @include media-breakpoint-down(lg) {
      padding-top: 100px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 70px;
      padding-bottom: 100px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 50px;
      padding-bottom: 40px;
      background-color: #f2f4f8;
      background-image: url('../img/magazine-bg-mob.png') !important;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 320px;
    }

    .hero__desc {
      max-width: 626px;

      @include media-breakpoint-down(sm) {
        text-align: center;
      }
    }

    .hero__title {
      max-width: 830px;

      @include media-breakpoint-down(sm) {
        text-align: center;
        color: $dark;
      }
    }
  }

  .tabs-secondary__btn--active {
    background-color: $gray-secondary !important;
    border-color: $gray-secondary !important;
  }

  &--narrow,
  &--tight {
    @include media-breakpoint-down(sm) {
      padding: 33px 15px 112px;
    }

    .hero__title {
      @include media-breakpoint-down(lg) {
        max-width: 400px;
        font-size: 36px;
        line-height: 1.2;
      }

      @include media-breakpoint-down(md) {
        max-width: 260px;
        font-size: 34px;
      }

      @include media-breakpoint-down(sm) {
        color: #2d2d2d;
      }
    }

    .d-md-flex {
      flex-direction: column;
    }

    .hero__feature {
      margin: 0 0 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
