.accent {
  &--underlined {
    position: relative;
    padding: 30px 0;
    font-size: 26px;
    line-height: 36px;
    color: #747474;

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 105px;
      height: 6px;
      content: '';
      background: #179e6e;
      border-radius: 8px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 22px;
      line-height: 34px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &--overlined {
    position: relative;
    padding: 35px 0;
    font-size: 26px;
    line-height: 36px;
    color: #747474;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 105px;
      height: 6px;
      content: '';
      background: #179e6e;
      border-radius: 8px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 22px;
      line-height: 34px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &--primary-big {
    padding: 100px 100px 90px;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #179e6e;
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
      padding: 80px;
      font-size: 24px;
      line-height: 29px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 12px;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &--primary-overlined {
    position: relative;
    padding: 110px 70px 40px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background: #179e6e;
    border-radius: 10px;

    &:after {
      position: absolute;
      top: 60px;
      right: 0;
      left: 0;
      margin: auto;
      width: 105px;
      height: 6px;
      content: '';
      background: #fff;
      border-radius: 8px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 15px;
      line-height: 24px;
    }

    @include media-breakpoint-down(sm) {
      padding: 60px 12px 30px;
      line-height: 20px;

      &:after {
        top: 30px;
      }
    }
  }

  &--bordered {
    padding: 70px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #2d2d2d;
    background: #fff;
    border: 2px solid #179e6e;
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
      font-size: 15px;
      line-height: 24px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px 12px;
      line-height: 20px;
    }
  }

  &--background {
    padding: 210px 0;
    background-position: center top;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding: 100px 0;
    }
  }

  &__highlighted {
    padding: 4px 4px 1px;
    color: #fff;
    background-color: #179e6e;
    border-radius: 4px;
  }

  &__paragraph {
    position: relative;
    font-size: 18px;
    line-height: 28px;

    &:after {
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 105px;
      height: 6px;
      content: '';
      background: #179e6e;
      border-radius: 8px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__content {
    padding: 130px 60px;
    background: #179e6e;
    border-radius: 10px;

    @include media-breakpoint-down(lg) {
      padding: 90px 40px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 15px;
    }
  }

  &__header {
    position: relative;

    &:after {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 105px;
      height: 6px;
      content: '';
      background: #fff;
      border-radius: 8px;
    }
  }

  &__picture {
    width: 100%;
    min-height: 290px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
      min-height: 480px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 380px;
    }

    @include media-breakpoint-down(xs) {
      min-height: 290px;
    }
  }
}
