.leaders-slider {
  &__prev,
  &__next {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(/img/news-slider__next.svg) no-repeat;
    filter: grayscale(1) opacity(.6);

    @include transition;

    &:hover {
      filter: none;
    }
  }

  &__next {
    top: -60px;
    right: 0;
  }

  &__prev {
    top: -60px;
    right: 50px;
    transform: rotate(-180deg);
  }

  .slick-list {
    margin-right: -280px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  .slick-track {
    display: flex !important;
    align-items: stretch !important;
  }

  .slick-slide {
    height: auto !important;
    outline: none;

    @include media-breakpoint-down(md) {
      margin: 0 15px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  &.slick-initialized .slick-slide {
    display: flex;
  }

  .slick-dots {
    bottom: -45px;
  }
}
