.previews-grid {
  margin-right: -15px;
  margin-bottom: 30px;
  margin-left: -15px;

  &__item {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    width: 33.33%;
    height: 300px;

    @include media-breakpoint-down(lg) {
      width: 50%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      height: auto;
      min-height: 300px;
    }

    &--w2 {
      width: 66.66%;
      height: 280px;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }

    &--h2 {
      height: 610px;

      @include media-breakpoint-down(lg) {
        height: 630px;
      }

      @include media-breakpoint-down(sm) {
        height: auto;
        min-height: 300px;
      }
    }
  }
}

.previews-grid__item .preview {
  padding-top: 215px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  &__img {
    padding-top: 0;
    height: 200px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      height: 190px;
    }
  }

  &--secondary {
    padding-top: 100px;
    padding-bottom: 30px;

    .preview__img {
      height: auto;

      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        opacity: .2;

        img {
          max-width: none;
          height: auto;
        }
      }
    }
  }

  &--fullwidth {
    padding-top: 0;

    .preview__img {
      height: auto;

      @include media-breakpoint-down(sm) {
        height: 190px;
      }

      img {
        height: auto;
      }
    }
  }
}
