.tag {
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  height: 30px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  pointer-events: none;
  color: #fff;
  background: $secondary;
  border-radius: 2px;
  box-shadow: -3px 6px 7px rgba(187, 31, 112, .2);

  &--green {
    background-color: $primary;
    box-shadow: none;
  }

  &--red {
    background-color: $warning;
    box-shadow: none;
  }
}
