.info {
  padding: 0 20px;
  width: 100%;
  text-align: center;

  &__title {
    margin: 0;
    padding: 0 0 18px;
    font-size: 18px;
    color: #2d2d2d;
  }

  &__value {
    margin: 0;
    padding: 0 0 5px;
    font-size: 62px;
    line-height: 1;
    color: #179e6e;
  }

  &__caption {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #2e2e2e;
  }
}
