.tooltip {
  position: relative;
  cursor: pointer;

  @include media-breakpoint-down(md) {
    position: static;
  }

  &__buttons-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include transition;

    &:last-of-type {
      margin-left: 50px;
    }

    &:before {
      margin-right: 10px;
      display: block;
      width: 18px;
      height: 23px;
      content: '';
      background: transparent url(../img/ico-doc.svg) 0 0 no-repeat;
      background-size: cover;
    }
  }

  &__trigger {
    position: relative;
    width: 20px;
    height: 20px;
    background: transparent url(../img/ico-info.svg) 0 0 no-repeat;
    background-size: cover;

    @include media-breakpoint-down(md) {
      position: static;
    }

    &--text {
      width: auto;
      height: auto;
      background: none;
    }
  }

  &__content {
    position: absolute;
    z-index: 1;
    top: -16px;
    left: 20px;
    padding-left: 20px;
    display: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));

    @include media-breakpoint-down(md) {
      position: fixed !important;
      z-index: 1002 !important;
      top: 50% !important;
      left: 50% !important;
      padding: 20px !important;
      width: auto !important;
      transform: translate(-50%, -50%) !important;
    }

    &:before {
      position: absolute;
      top: calc(50% - 10px);
      left: 8px;
      width: 0;
      height: 0;
      content: '';
      border-width: 11px 12px 11px 0;
      border-style: solid;
      border-color: transparent #ffffff transparent transparent;

      @include media-breakpoint-down(md) {
        display: none !important;
      }
    }

    p {
      margin: 0;
      padding: 19px;
      width: auto;
      font-size: 15px;
      line-height: 1;
      white-space: nowrap;
      color: #2d2d2d;
      background: #ffffff;

      @include media-breakpoint-down(md) {
        white-space: normal;
      }
    }

    &--right-top {
      position: absolute;
      top: 18px;
      right: 0;
      left: auto;
      padding: 20px 0 0;
      display: none;
      width: 340px;

      &:before {
        top: 8px;
        right: 70px;
        left: auto;
        width: 0;
        height: 0;
        border-width: 0 10px 12px;
        border-style: solid;
        border-color: transparent transparent #ffffff;
      }
    }

    &--top-center {
      position: absolute;
      top: 18px;
      left: -195px;
      padding: 20px 0 0;
      display: none;
      width: 395px;

      &:before {
        top: 8px;
        left: calc(50% - 4px);
        width: 0;
        height: 0;
        border-width: 0 10px 12px;
        border-style: solid;
        border-color: transparent transparent #ffffff;
      }

      p {
        line-height: 1.4;
        white-space: normal;
      }
    }
  }
}

/*[class^='tooltip'] {
  display: none;
}*/
