mixin tooltip(content, modifier)
  .tooltip&attributes(attributes)
    .tooltip__trigger
    if content
      .tooltip__content
        p= content
    else
      .tooltip__content.tooltip__content--top-center
        p.mb-10 Заявление заполняется Выгодоприобретателем (Застрахованным лицом). В случае, если Застрахованным лицом является несовершеннолетний, заявление заполняется законным представителем несовершеннолетнего
          span.tooltip__buttons-wrapper
            a.tooltip__button(href="#") Бланк
            a.tooltip__button(href="#") Образец
