.search {
  position: relative;
  margin-left: 50px;

  @include media-breakpoint-down(lg) {
    margin-left: 30px;
  }

  @include media-breakpoint-down(md) {
    margin: 25px 0 0;
    padding: 0 0 25px;
    display: none;
    border-bottom: 2px solid #dae0e7;
  }

  &__field {
    padding: 0 0 0 44px;
    width: 150px;
    font-size: 15px;
    color: #2c2c2c;
    border: 0 none;

    &::placeholder {
      opacity: 1;
      font-size: 15px;
      color: #2c2c2c;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__button {
    position: absolute;
    top: -7px;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../img/search-ico.svg) 0 0 no-repeat;
    background-size: 30px 30px;
  }
}
