mixin item(title, number, subject, name, date, icon, modifier)
  .item(style="background-image: url(./img/" + icon + ");")&attributes(attributes)
    .item__top
      h5.item__title!= title
      .mb-15
        p.p--gray.mb-5 № полиса
        p.mb-0= number
      .mb-15
        p.p--gray.mb-5= subject
        p.mb-0= name
    .item__bottom
      if modifier == 'item--expiring'
        +validity('Истекает', date, 'validity--expiring').validity--expiring
        a.item__extend(href="#") Продлить
      else if modifier == 'item--draft'
        a.btn.btn-primary.btn-primary--gray(href="#") Продолжить оформление
        a.item__remove(href="#") Удалить
      else
        +validity('Действует', date)
