.item {
  position: relative;
  padding: 30px 30px 93px;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 114% top;
  border-radius: 2px;
  box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);

  @include media-breakpoint-down(md) {
    padding: 30px 30px 110px;
  }

  &--draft {
    background-color: transparent !important;
    border: 2px dashed #d7dee6;
    box-shadow: none;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }

    &:after {
      position: relative;
      bottom: -3px;
      margin-right: 7px;
      margin-left: 12px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/request-arrow_right.svg) no-repeat center center,
        url(../img/request-arrow_right-red.svg) no-repeat 100px center;
      background-size: 100%;

      @include transition;
    }

    &:hover {
      color: #bb1f70;

      &:after {
        background: url(../img/request-arrow_right.svg) no-repeat 100px center,
          url(../img/request-arrow_right-red.svg) no-repeat center center;
      }
    }
  }

  p {
    padding: 0;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 30px 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    .btn-primary--gray {
      min-width: 210px;
      flex: 1 0;
      background: #7d899c;
      border: none;
      border-radius: 2px;

      @include media-breakpoint-down(xs) {
        min-width: 100%;
      }

      &:hover {
        background: $primary;
      }
    }
  }

  .validity {
    width: 100%;

    &__progress {
      position: relative;
      height: 2px;
      background: #d4dbe4;
    }

    &__progress-filled {
      height: 100%;
      background: $primary;
    }

    &--expiring {
      min-width: 210px;
      flex: 1 0;

      @include media-breakpoint-down(xs) {
        min-width: 100%;
      }

      .validity__progress-filled {
        background: $warning;

        &:nth-child(2n) {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &__extend {
    margin-left: 30px;
    min-width: 100px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-left: 30px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
      margin-left: 0;
    }

    &:before {
      position: relative;
      bottom: -5px;
      margin-right: 7px;
      display: inline-block;
      width: 22px;
      height: 22px;
      content: '';
      background: url(../img/item-extend.svg) no-repeat center center;
      background-size: 100%;

      @include transition;
    }

    // &:hover {

    //   &:before {
    //     background: url(../item-extend.svg) no-repeat center center;
    //   }
    // }
  }

  &__remove {
    margin-left: 30px;
    min-width: 85px;
    font-size: 15px;
    line-height: 18px;
    white-space: nowrap;
    color: $gray-secondary;

    @include media-breakpoint-down(md) {
      margin-top: 10px;
      margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-left: 30px;
    }

    @include media-breakpoint-down(xs) {
      margin-top: 10px;
      margin-left: 0;
    }

    &:before {
      position: relative;
      bottom: -4px;
      margin-right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background: url(../img/item-delete.svg) no-repeat center center,
        url(../img/request-delete-green.svg) no-repeat -100px center;
    }

    &:hover {
      color: #0d5b40;

      &:before {
        background: url(../img/request-delete-green.svg) no-repeat center center;
      }
    }
  }
}
