.footer {
  &__top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white;
    border-bottom: 4px solid $light-gray-secondary;
  }

  &__list {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    list-style: none;

    @include media-breakpoint-down(sm) {
      margin-top: 13px;
      flex-wrap: wrap;
    }
  }

  &__list-item {
    margin-top: 15px;
    line-height: 15px;

    @include media-breakpoint-down(sm) {
      margin-top: 17px;
      width: 50%;
    }
  }

  &__list-link {
    font-size: 15px;
    color: #2c2c2c;

    @include transition();

    &:hover {
      color: $secondary;
    }

    &:active {
      color: #7e0041;
    }
  }

  &__bottom {
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 35px;
    }

    .footer__group:nth-child(4) {
      @include media-breakpoint-down(sm) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__group {
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__group-title {
    padding-bottom: 13px;
    font-size: 15px;
    line-height: 20px;
    color: $gray-secondary;

    @include media-breakpoint-down(md) {
      white-space: nowrap;
    }
  }

  &__group-contacts {
    @include media-breakpoint-down(sm) {
      border-bottom: 4px solid $light-gray-secondary;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    font-size: 24px;
    line-height: 1;
    color: $black;

    @include media-breakpoint-down(md) {
      white-space: nowrap;
    }
  }

  &__email {
    font-size: 15px;
    line-height: 20px;
    transition: $transition-base;

    &:hover {
      color: $secondary;
    }

    &:active {
      color: #7e0041;
    }
  }

  &__text {
    padding-top: 45px;
    font-size: 13px;
    line-height: 20px;
    color: $gray-secondary;
  }
}
