mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__top
      .container
        .row
          .col-md-3
            +logo
          .col-md-9
            ul.footer__list
              li.footer__list-item
                a.footer__list-link(href="#") Наши продукты
              li.footer__list-item
                a.footer__list-link(href="#") Журнал  «Хэппенс»
              li.footer__list-item
                a.footer__list-link(href="#") О компании
              li.footer__list-item
                a.footer__list-link(href="#") Контакты
    .footer__bottom
      .container
        .row
          .col-md-3.footer__group.footer__group-contacts
            .footer__group-title Телефон
            .footer__contacts
              a.footer__tel(href="tel:+88005558765") 8 800 555 87 65
              a.footer__email(href="mailto:claims@cardifrussia.ru") claims@cardifrussia.ru
          .col-9.col-md-3.footer__group
            .footer__group-title.d-none.d-md-block В социальных сетях
            ul.socials
              li.socials__item
                a.socials__link.socials__link--vk(href="#")
              li.socials__item
                a.socials__link.socials__link--fb(href="#")
              li.socials__item
                a.socials__link.socials__link--ig(href="#")
          .col-3.col-md-2.col-lg-3.footer__group
            .footer__group-title.d-none.d-md-block В мессенджерах
            ul.socials.socials__messenger
              li.socials__item
                a.socials__link.socials__link--fbm(href="#")
          .col-md-4.col-lg-3.footer__group
            .footer__group-title В вашем телефоне
            +apps
          .col-12
            .footer__text
              | КАРДИФ - страховая компания, входящая в состав BNP Paribas Cardif. КАРДИФ занимается созданием и обслуживанием накопительных и рисковых страховых продуктов. КАРДИФ - международная компания с географически широко диверсифицированным бизнесом и особенно сильными позициями в Европе, Азии и Южной Америке. Список наших партнеров включает в себя более 35 из 100 ведущих банков мира. Лицензия ЦБ РФ от 18.07.2018 г.: СЛ №4104, СИ №4104
