.document {
  margin-bottom: 25px;
  display: flex;
  min-height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: url(../img/license.svg) top left no-repeat;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    background-size: 50px 65px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    min-height: 51px;
    background-size: 40px 51px;
  }

  &:hover {
    background-image: url(../img/license-hover.svg);

    .document__title {
      color: $secondary;
    }
  }

  &--center {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      padding-top: 65px;
      background-position: top center;
      background-size: 40px 51px;
    }

    .document__info {
      @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__info {
    width: calc(100% - 100px);

    @include media-breakpoint-down(md) {
      width: calc(100% - 70px);
    }

    @include media-breakpoint-down(sm) {
      width: calc(100% - 60px);
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #2e2e2e;
  }

  &__date {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #7d899c;
  }
}
