.enter {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  max-width: 630px;
  background: #fff;
  box-shadow: 0 15px 34px rgba(125, 137, 156, .3);

  @include media-breakpoint-down(xs) {
    padding: 25px 15px;
    max-width: calc(100% - 30px);
  }

  &__btn {
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }

  &__icon {
    margin: 0 auto;

    &--success {
      margin-bottom: 30px;
      width: 90px;
      height: 90px;
      background: url(../img/success.svg) no-repeat center;
      background-size: contain;
    }

    &--error {
      margin-bottom: 30px;
      width: 106px;
      height: 90px;
      background: url(../img/error.svg) no-repeat center;
      background-size: contain;
    }

    &--letter {
      position: relative;
      left: -26px;
      margin-bottom: 30px;
      width: 182px;
      height: 110px;
      background: url(../img/letter.svg) no-repeat center;
      background-size: contain;
    }
  }

  .btn {
    &.btn-primary {
      display: block;
      width: 100%;
    }

    &.btn-link {
      display: block;
    }
  }
}
