mixin enter(modifier)
  .enter&attributes(attributes)

    if modifier == 'enter--login'
      h2.text-center.mb-10 Вход в Кардиф
      p.text-center.p--lg.p--gray.mb-40 Для получения доступа к сервисам Кардиф, введите номер телефона.
      form.form(action="#", method="POST")
        +field("", "text", "Номер телефона", "enter1", "Такого пользователя не существует").mb-80.mb-sm-45
        button.btn.btn-primary.mb-25(type="submit") Получить код
        a.btn.btn-link.mb-20(href="#") Регистрация
        a.btn.btn-link(href="#") Авторизовать через ЕСИА

    if modifier == 'enter--confirmation'
      h2.text-center.mb-10 Вход в Кардиф
      p.text-center.p--lg.p--gray.mb-40 Отправлен код подтверждения на номер +7 (915) 923-45-11
      form.form(action="#", method="POST")
        +field("", "text", "Код подтверждения", "enter2", "Такого пользователя не существует").mb-45
        button.btn.btn-primary.mb-25(type="submit") Подтвердить вход
        p.p--gray.text-center.mb-55.mb-sm-20 Повторный код через 120 секунд
        //a.btn.btn-link.mt-60.mt-sm-0(href="#") Выслать код повторно
        a.link-back.mt-20(href="#") Вернуться назад

    if modifier == 'enter--ban'
      .enter__icon.enter__icon--error.mt-30
      h2.text-center.mb-10 Пользователь заблокирован
      p.text-center.p--lg.p--gray.mb-70.mb-sm-55 Ваша учетная запись заблокирована. <br>Для разблокировки отправьте  
        a(href="#") Заявку на обратный звонок 
        | или воспользуйтесь  
        a(href="#") чат-ботом 
      a.link-back.mt-20(href="#") Вернуться назад

    if modifier == 'enter--password'
      h2.text-center.mb-10 Вход в Кардиф
      p.text-center.p--lg.p--gray.mb-40 Введите пароль для завершения авторизации в системе
      form.form(action="#", method="POST")
        +field("", "password", "Пароль", "enter3", "Вы ввели неверный пароль").mb-45
        button.btn.btn-primary.mb-25(type="submit") Подтвердить вход
        a.btn.btn-link(href="#") Забыли пароль?
        a.link-back.mt-55.mt-sm-20(href="#") Вернуться назад

    if modifier == 'enter--restore'
      h2.text-center.mb-10 Восстановление пароля
      p.text-center.p--lg.p--gray.mb-40 Для восстановления пароля необходимо указать ваш E-mail
      form.form(action="#", method="POST")
        +field("", "text", "E-mail", "enter4", "Такого пользователя не существует").mb-45.mb-sm-80
        button.btn.btn-primary.mb-100.mb-sm-25(type="submit") Продолжить
        a.link-back(href="#") Вернуться к авторизации

    if modifier == 'enter--restore-sent'
      .enter__icon.enter__icon--letter.mt-10.mb-30
      h3.text-center.font-weight-normal.mb-15 Проверьте почту
      p.text-center.mb-95.mb-sm-55 Перейдите по ссылке из письма, которое мы отправили вам на k.konstantinopolskiy@gmail.com
      a.btn.btn-primary.enter__btn(href="#") Вернуться на главную

    if modifier == 'enter--new-password'
      h2.text-center.mb-10 Восстановление пароля
      p.text-center.p--lg.p--gray.mb-60.mb-sm-40 Введите новый пароль. Используйте буквы разного регистра, цифры и символы для повышения надежности
      form.form(action="#", method="POST")
        +field("field--password", "password", "Введите новый пароль", "enter5", "Ошибка при заполнении поля").mb-45
        +field("field--password", "password", "Подтвердите пароль", "enter6", "Ошибка при заполнении поля").mb-30.mb-sm-45
        button.btn.btn-primary.enter__btn(type="submit") Сменить пароль

    if modifier == 'enter--restore-success'
      .enter__icon.enter__icon--success.mt-30
      h2.text-center.mb-10 Пароль восстановлен
      p.text-center.p--lg.p--gray.mb-65 Вы успешно восстановили пароль для своей учетной записи. Теперь вы можете пользоваться всеми услугами и сервисами
      a.btn.btn-primary.enter__btn(href="#") Перейти к авторизации
