.leader {
  margin-right: 30px;
  padding: 30px;
  display: flex;
  width: 100%;
  max-width: 470px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .05);

  @include media-breakpoint-down(lg) {
    max-width: 450px;
  }

  @include media-breakpoint-down(md) {
    margin-right: 0;
    max-width: 100%;
    flex-wrap: wrap;
  }

  &__photo {
    margin-right: 28px;
    width: 141px;

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 2px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto 15px;
    }
  }

  &__info {
    flex: 1 0;

    @include media-breakpoint-down(md) {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  &__name {
    margin-bottom: 10px;
    line-height: normal;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__post {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #7d899c;
  }

  &__desc {
    font-size: 15px;
    line-height: 22px;
    color: #2e2e2e;
  }
}
