mixin leader(modifier, photo, name, post, desc)
  .leader&attributes(attributes)
    .leader__photo
      img(src= photo, alt)
    .leader__info
      h5.leader__name= name
      .leader__post= post
      .leader__desc= desc