extends ../templates/template.pug
block content
  +header
  .hero.hero__about(style="background-image: url(../img/about-hero-bg.png);")
    .container
      h1.hero__title О компании
      .hero__desc
        p
          | BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, одного из лидеров банковских и финансовых услуг в Европе.
        p
          | BNP Paribas – одна из крупнейших мировых финансовых групп по размеру филиальной сети. История успеха длиной почти в 200 лет (с 1822 года).
  .js-tabs.tabs-primary
    .js-tabs__btns-group.tabs-primary__btns-group
      .container
        .tabs-primary__btns-list.js-tabs__menu.js-tabs__menu-scroll(data-tabs="#tabs-group-1")
          .js-tabs__btn.tabs-primary__btn.tabs-primary__btn--active.js-tabs__btn--active(role="button" data-tab=0)
            | О Кардифе
          .js-tabs__btn.tabs-primary__btn(role="button" data-tab=1)
            | Финансовые и учредительные документы
          .js-tabs__btn.tabs-primary__btn(role="button" data-tab=2)
            | Раскрытие информации
          .js-tabs__btn.tabs-primary__btn(role="button" data-tab=3)
            | Полезные документы
          .js-tabs__btn.tabs-primary__btn(role="button" data-tab=4)
            | Карьера
          .js-tabs__btn.tabs-primary__btn(role="button" data-tab=5)
            | Новости и акции
    .js-tabs__content.tabs-primary__content#tabs-group-1
      .js-tabs__content-item.tabs-primary__content-item
        .container.mb-lg-70.text-center.text-md-left
          h2 КАРДИФ в России
          .row
            .col-lg-6
              p
                | ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования и страхования имущества.
              p
                | Деятельность BNP Paribas CARDIF распространяется на несколько континентов: мы занимаем сильные позиции в Европе, Азии и Америке.
            .col-lg-6
              .row.data-slider
                .col-md-6.data-slider__item
                  +data("", "36", "стран мира")
                .col-md-6.data-slider__item
                  +data("", "10", "тыс. сотрудников по всему миру")
                .col-md-6.data-slider__item
                  +data("", "500", "партнеров по всему миру")
                .col-md-6.data-slider__item
                  +data("", "100", "млн. клиентов по всему миру")
        .container
          .row
            .col-lg-6.info-slider
              .info-slider__init
                +info("", "Выручка", "43,4", "млрд. евро от основной деятельности")
                +info("", "Выручка", "43,4", "млрд. евро от основной деятельности")
                +info("", "Выручка", "43,4", "млрд. евро от основной деятельности")
                +info("", "Выручка", "43,4", "млрд. евро от основной деятельности")
            .col-lg-6.text-center.text-md-left
              h4 Финансовые показатели
              p
                | ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования и страхования имущества.
              p
                | Деятельность BNP Paribas CARDIF распространяется на несколько континентов: мы занимаем сильные позиции в Европе, Азии и Америке.
        section.section.section--history.section--border-top.mt-80
          +history
        section.section.section--gray-bg.py-70
          .container
            h2.section__title.text-center.text-md-left Руководство
            .leaders-slider
              +leader("", "./img/leader-img-1.jpg", "Константин Козлов", "Генеральный директор", "Константин отвечает за реализацию стратегии, развитие и управление подразделением КАРДИФ в России.")
              +leader("", "./img/leader-img-2.jpg", "Елена Мартынова", "Руководитель управления операционной и клиентской службы", "Елена отвечает за осуществление страховых операций и…")
              +leader("", "./img/leader-img-3.jpg", "Анна Смыслова", "Директор управления по работе с персоналом", "Анна отвечает за найм и адаптацию нового персонала, повышение лояльности…")
              +leader("", "./img/leader-img-1.jpg", "Константин Козлов", "Генеральный директор", "Константин отвечает за реализацию стратегии, развитие и управление подразделением КАРДИФ в России.")
              +leader("", "./img/leader-img-2.jpg", "Елена Мартынова", "Руководитель управления операционной и клиентской службы", "Елена отвечает за осуществление страховых операций и…")
              +leader("", "./img/leader-img-3.jpg", "Анна Смыслова", "Директор управления по работе с персоналом", "Анна отвечает за найм и адаптацию нового персонала, повышение лояльности…")
        section.section.pt-50.pt-lg-70
          .container.text-center.text-md-left
            h2.section__title Лицензии
            .row
              .col-md-6.col-lg-5.mr-auto.mb-30.mb-md-0
                p
                  | В соответствии с пунктом 1 статьи 32.5 Закона РФ "Об организации страхового дела в Российской Федерации" №4015-1 от 27 ноября 1992 года лицензии Обществу с ограниченной ответственностью "Страховая компания КАРДИФ" выданы бессрочно. Обществу с ограниченной ответственностью "Страховая компания КАРДИФ" в Едином государственном реестре субъектов страхового дела присвоен номер 4104.
              .col-md-6
                +document("document--center", "Добровольное имущественное страхование", "Размещено 17.11.2015 12:48")
                +document("document--center", "Добровольное личное страхование, за исключением добровольного страхования жизни", "Размещено 17.11.2015 12:48")
      .js-tabs__content-item.tabs-primary__content-item
        section.section.section--border-bottom.pb-40.pb-lg-60.mb-50.mb-lg-90
          .container
            h2.section__title.text-center.text-md-left Финансовая отчетность
            .js-tabs.tabs-secondary
              .mb-60.d-none.d-md-block: .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-group-2")
                .js-tabs__btn.tabs-secondary__btn.tabs-secondary__btn--active.js-tabs__btn--active(role="button" data-tab=0) 2013
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) 2014
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) 2015
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=3) 2016
              .d-md-none.mb-30: select.select.js-tabs__menu-select(data-tabs="#tabs-group-2")
                option(value="0") 2013
                option(value="1") 2014
                option(value="2") 2015
                option(value="3") 2016
              .js-tabs__content.tabs-secondary__content#tabs-group-2
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
                    .col-md-4
                      +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
        section.section
          .container
            h2.section__title.mb-lg-20.text-center.text-md-left Учредительные и иные правоустанавливающие документы
            .row
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
              .col-md-4
                +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
      .js-tabs__content-item.tabs-primary__content-item
        section.section.section--border-bottom.pb-40.pb-lg-90.mb-50.mb-lg-90
          .container
            h3.text-center.text-md-left Поиск по реестру агентов
            p.mb-45.text-center.text-md-left Для получения информации о наших агентах, пожалуйста, заполните поля ниже
            form.form
              .row
                .col-md-4.mb-md-0.mb-45
                  +field("", "text", "Название агента", "field1", "Вы ввели не корректное название агента")
                .col-md-4.mb-md-0.mb-45
                  +field("", "text", "ИНН", "field2", "Вы ввели не корректный ИНН")
                .col-md-4
                  button.btn.btn-primary.btn--standalone(type="submit") Найти
        section.section
          .container
            article.section__article.pb-50
              h3.text-center.text-md-left Политика конфиденциальности
              p
                | Сайт mycardif.ru является дополнением к услугам, оказываемым ООО «СК КАРДИФ». В настоящей политике излагаются наши правила обеспечения конфиденциальности и защиты информации.
              p
                | Наша компания придерживается строгих правил работы с информацией, разработанной для защиты конфиденциальных данных. Мы считаем свободный поток информации эффективным при условии, что данные собираются и используются со всей ответственностью.
              a.section__article-more-btn(href="#") Подробнее
              .section__article-more
                p
                  | Сайт mycardif.ru является дополнением к услугам, оказываемым ООО «СК КАРДИФ». В настоящей политике излагаются наши правила обеспечения конфиденциальности и защиты информации.
            article.section__article
              h3.text-center.text-md-left Заявление об ограничении ответственности
              p
                | ООО «СК КАРДИФ» является юридическим лицом, созданным в соответствии с законодательством Российской Федерации, и входит в состав страхового холдинга BNP Paribas CARDIF, являющегося частью международной группы BNP Paribas. BNP Paribas CARDIF занимается созданием и продажами страховых продуктов по рисковому и накопительному страхованию жизни в 36 странах мира). BNP Paribas является одним из европейских лидеров по оказанию банковских и финансовых услуг.
              p
                | BNP Paribas CARDIF является одним из международных лидеров в области страхования жизни. Коллектив BNP Paribas CARDIF насчитывает 10 000 сотрудников в странах Европы, Северной Америки и Азии, которых объединяют общие корпоративные ценности, а также приверженность качеству оказываемых услуг. Мы создаем перспективы, раскрывая потенциал наших сотрудников, клиентов и общества в целом.
              a.section__article-more-btn(href="#") Подробнее
              .section__article-more
                p
                  | Сайт mycardif.ru является дополнением к услугам, оказываемым ООО «СК КАРДИФ». В настоящей политике излагаются наши правила обеспечения конфиденциальности и защиты информации.
      .js-tabs__content-item.tabs-primary__content-item
        section.section
          .container
            h2.section__title.text-center.text-md-left Полезные документы
            p.text-center.text-md-left.mb-30
              | Здесь Вы найдете бланки документов, необходимых  для урегулирования страхового события. Для Вашего удобства в раздел включены актуальные правила для каждого из видов страхования.
            .js-tabs.tabs-secondary
              .mb-60.d-none.d-md-block: .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-group-3")
                .js-tabs__btn.tabs-secondary__btn.tabs-secondary__btn--active.js-tabs__btn--active(role="button" data-tab=0) Бланки документов
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) Правила страхования
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) Архив правил страхования
              .d-md-none.mb-30: select.select.js-tabs__menu-select(data-tabs="#tabs-group-3")
                option(value="0") Бланки документов
                option(value="1") Правила страхования
                option(value="2") Архив правил страхования
              .js-tabs__content.tabs-secondary__content#tabs-group-3
                .js-tabs__content-item.tabs-secondary__content-item
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программе страхования через ПАО «Почта Банк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программам страхования через канал телемаркетинг ПАО «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Информационная Брошюра для Клиентов «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                .js-tabs__content-item.tabs-secondary__content-item
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программе страхования через ПАО «Почта Банк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программам страхования через канал телемаркетинг ПАО «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Информационная Брошюра для Клиентов «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                .js-tabs__content-item.tabs-secondary__content-item
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программе страхования через ПАО «Почта Банк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Формы заявлений на выплату для Клиентов, подключившихся к программам страхования через канал телемаркетинг ПАО «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
                  h5.text-center.text-md-left.mb-30.mb-md-50 Информационная Брошюра для Клиентов «Сбербанк»
                  .tabs-secondary__content-item-inner
                    .row.mb-20.mb-md-40
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования от несчастных случаев и болезней и от недобровольной потери работы", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программе страхования «Защита покупки»", "Размещено 17.11.2015 12:48")
                      .col-md-6.col-lg-4
                        +document("", "Форма заявления на выплату по программам страхования имущества и гражданской ответственности", "Размещено 17.11.2015 12:48")
      .js-tabs__content-item.tabs-primary__content-item
        section.section.section--border-bottom.pb-40.mb-50.mb-lg-90
          .container
            h2.section__title.text-center.text-md-left Карьера в КАРДИФ
            .row
              .col-lg-6.text-center.text-md-left
                p
                  | КАРДИФ является не только финансово устойчивой компанией, но и стремится обеспечить надежное и перспективное будущее своим сотрудникам.
                p
                  | В Российском офисе компании работает более 120 сотрудников. Согласно кадровой стратегии КАРДИФ приоритетными целями в области профессионального развития являются поддержание высокого профессионального уровня сотрудников и внедрение международного опыта в технологии ведения бизнеса. Инвестиции в развитие людей — один из важнейших приоритетов компании.
                p
                  | Внутренняя корпоративная политика нашей компании направлена на развитие социального капитала путем укрепления связей, в том числе и неформальных, между сотрудниками, а также между руководством компании и сотрудниками. КАРДИФ заботится о благополучии сотрудников (здоровье, социальной защищенности, комфортной рабочей среде)
              .col-lg-6.align-self-center.align-self-xl-start.pt-30.pt-lg-0.text-center
                img.mx-auto(src="./img/carrier-img.svg", alt)
        section.section
          .container
            h3.text-center.text-md-left Актуальные вакансии
            .row
              .col-sm-6.col-lg-3.pb-30.d-flex
                +vacancy("", "./img/vacancy-img-1.png", "Менеджер продаж", "от 55 000 рублей")
              .col-sm-6.col-lg-3.pb-30.d-flex
                +vacancy("", "./img/vacancy-img-1.png", "Менеджер продаж", "от 55 000 рублей")
              .col-sm-6.col-lg-3.pb-30.d-flex
                +vacancy("", "./img/vacancy-img-1.png", "Менеджер продаж", "от 55 000 рублей")
              .col-sm-6.col-lg-3.pb-30.d-flex
                +vacancy("", "./img/vacancy-img-1.png", "Менеджер продаж", "от 55 000 рублей")
            +cta("", "Желаете работать в нашей команде?", "Звоните нам по телефону + 7 (495) 456-67-89 или отправляйте резюме с сайта", "Подать резюме")(class="cta--border")
      .js-tabs__content-item.tabs-primary__content-item
        section.section
          .container
            h2.section__title.text-center.text-md-left Новости и акции
            .js-tabs.tabs-secondary
              .d-none.d-md-block.mb-60: .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-group-4")
                .js-tabs__btn.js-tabs__btn--active.tabs-secondary__btn.tabs-secondary__btn--active(role="button" data-tab="0") 2013
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) 2014
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) 2015
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=3) 2016
              .d-md-none.mb-30: select.select.js-tabs__menu-select(data-tabs="#tabs-group-4")
                option(value="0") 2013
                option(value="1") 2014
                option(value="2") 2015
                option(value="3") 2016
              .js-tabs__content.tabs-secondary__content#tabs-group-4
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                  .text-center.pt-20
                    a.btn.btn-outline-primary(href="#") Показать еще
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
                .js-tabs__content-item.tabs-secondary__content-item
                  .row
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
                    .col-md-6.col-lg-4.pb-30
                      +news("news--bordered news--highlighted", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
  +footer
