extends ../templates/template.pug
block content
  +header
  .hero.hero--article(style="background-image: url(./img/article-bg.svg)!important;")
    .container
      span.tag.tag--green.hero__tag.mb-20.mb-md-40.px-25 Статья
      h1.hero__title Что делать если залили квартиру?
      p.hero__desc.d-none.d-sm-block
        | Наш дом - наша крепость. Место, где мы чувствуем себя комфортно и спокойно. Хочется, чтобы так было всегда.
  article.container.pt-70
    .row.mb-40.mb-lg-70
      .col-lg-6.text-center.text-md-left
        h2 Подзаголовок статьи
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      .col-lg-6.d-lg-flex.justify-content-end.align-items-start.pt-lg-40.text-center
        img(src="./img/article-img.png", alt)
    .row.mb-40.mb-lg-70
      .col-lg-6.pt-lg-40.order-1.order-lg-0.text-center
        img(src="./img/article-img.png", alt)
      .col-lg-6.text-center.text-md-left
        h2 Подзаголовок статьи
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
    .mb-40.mb-lg-70.text-center.text-md-left
      h2 Подзаголовок статьи
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
  section.section.section--read-more.py-30.py-lg-70
    .container
      h3.text-center.text-md-left Читайте так же
      .previews-slider.previews-slider--full.row
        .col-lg-4.previews-slider__item.d-flex.pb-30
          +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
        .col-lg-4.previews-slider__item.d-flex.pb-30
          +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
        .col-lg-4.previews-slider__item.d-flex.pb-30
          +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
  +footer
