extends ../templates/template.pug
block content
  +header('header--logged-out')
  .greeting
    //+enter('enter--login')
    +enter('enter--confirmation')
    //+enter('enter--ban')
    //+enter('enter--password')
    //+enter('enter--restore')
    //+enter('enter--restore-sent')
    //+enter('enter--new-password')
    //+enter('enter--restore-success')
