extends ../templates/template.pug
block content
  +header
  .cabinet
    .container
      .row.no-gutters
        .col-xl-3.d-flex
          .cabinet__user
            .cabinet__user-content
              .cabinet__user-photo(style="background-image: url(./img/userpic.jpg);")
                a.cabinet__user-photo-edit(href="#")
              .cabinet__user-text
                h6.cabinet__user-name Константин Константинопольский
                p.cabinet__user-phone.d-none.d-md-block +7 920 234 56 78
                p.cabinet__user-email.d-none.d-md-block serg@mail.com
        .col-xl-9
          .cabinet__content
            .js-tabs.tabs-primary
              .js-tabs__btns-group.tabs-primary__btns-group
                .tabs-primary__btns-list.js-tabs__menu.js-tabs__menu-scroll(data-tabs="#tabs-group-1")
                  .js-tabs__btn.tabs-primary__btn.tabs-primary__btn--active.js-tabs__btn--active(role="button" data-tab=0)
                    | Обращения и консультации
                  .js-tabs__btn.tabs-primary__btn(role="button" data-tab=1)
                    | Мои полисы
                  .js-tabs__btn.tabs-primary__btn(role="button" data-tab=2)
                    | Профиль и личные данные
              .js-tabs__content.tabs-primary__content#tabs-group-1
                .js-tabs__content-item.tabs-primary__content-item
                  h2.mb-25 Обращения
                  .js-tabs.tabs-secondary
                    .d-flex.align-items-center.justify-content-between.mb-30
                      .d-none.d-md-block
                        .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-requests-1")
                          .js-tabs__btn.tabs-secondary__btn.tabs-secondary__btn--active.js-tabs__btn--active(role="button" data-tab=0) Текущие
                          .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) Черновики
                          .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) Решенные
                          .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=3) Консультации
                      a.cabinet__new(href="#") Новое  
                        span.d-none.d-sm-inline обращение
                    .d-md-none.mb-30
                      select.select.js-tabs__menu-select(data-tabs="#tabs-requests-1")
                        option(value="0") Текущие
                        option(value="1") Черновики
                        option(value="2") Решенные
                        option(value="3") Консультации
                    .js-tabs__content.tabs-secondary__content#tabs-requests-1
                      .js-tabs__content-item.tabs-secondary__content-item
                        //h5.font-weight-bold.mt-35.mb-15 Обращений нет
                        //p Если возникнут вопросы или проблемы, поможем 24/7, без выходных.
                        +request('Убытки', '№ обращения', '34234342', 'Полис', '№345-678', 'Срок принятия решения', 'до 12 декабря 2017 г.', 'Подано', '5 документов').request--was-sent
                        +request('Убытки', '№ обращения', '34234355', 'Полис', '№345-678', 'Срок принятия решения', 'до 12 декабря 2017 г.', 'В рассмотрении', '8 документов').request--in-work
                      .js-tabs__content-item.tabs-secondary__content-item
                        +request('Черновик', '№ обращения', 'Не получен', 'Полис', '№345-678', 'Срок принятия решения', 'Не установлен', '', '', 'request--draft').request--draft
                      .js-tabs__content-item.tabs-secondary__content-item
                        +request('Убытки', '№ обращения', '34234820', 'Полис', '№345-677', 'Дата завершения', '12.12.2017 г.', 'Завершено', '').request--completed
                        +request('Убытки', '№ обращения', '34234420', 'Полис', '№345-678', 'Дата завершения', '04.09.2017 г.', 'Завершено', '').request--completed
                      .js-tabs__content-item.tabs-secondary__content-item
                        +request('Запрос подтверждения заключения полиса страхования', 'Время и дата', '11.12.18, 12:22', '№ обращения', '1234567890', 'Тип консультации', 'Наименование типа', '', '').request--completed
                        +request('Запрос ранее предоставленных документов по событию', 'Время и дата', '11.12.18, 12:22', '№ обращения', '1234567890', 'Тип консультации', 'Наименование типа', '', '').request--completed
                        +request('Запрос дубликата полиса страхования', 'Время и дата', '11.12.18, 12:22', '№ обращения', '1234567890', 'Тип консультации', 'Наименование типа', '', '').request--completed
                        +request('Запрос правил/условий страхования', 'Время и дата', '11.12.18, 12:22', '№ обращения', '1234567890', 'Тип консультации', 'Наименование типа', '', '').request--completed
                        +request('Внесение изменений в полис страхования', 'Время и дата', '11.12.18, 12:22', '№ обращения', '1234567890', 'Тип консультации', 'Наименование типа', '', '').request--completed
                .js-tabs__content-item.tabs-primary__content-item
                  .d-flex.align-items-center.justify-content-between
                    h2.mb-0 Мои полисы
                    a.cabinet__new(href="#") Оформить  
                      span.d-none.d-sm-inline новый полис
                  //h5.font-weight-bold.h5--gray.mt-30.mb-15 Полисов нет
                  //p.p--gray.mb-60 Вы еще не оформили ни одного договора страхования с Кардиф.
                  .row.card-slider
                    .col-md-6.pb-30.d-flex
                      +item('Каско', '345-678', 'Автомобиль', 'Volkswagen California', 'до 12 сен 2020 г.', 'item-1.svg')
                    .col-md-6.pb-30.d-flex
                      +item('«Дом»', '345-572', 'Адрес', 'ул. Советская-Социалистическая, д. 2а, стр. 4, кв. 120', 'до 12 авг 2020 г.', 'item-2.svg')
                    .col-md-6.pb-30.d-flex
                      +item('Здоровье ребенка', '345-429', 'Застрахован', 'Константинопольский В.К.', 'до 12 фев 2019 г.', 'item-3.svg', 'item--expiring')
                    .col-md-6.pb-30.d-flex
                      +item('<strong>ОСАГО</strong>: проект полиса', 'Не оформлен', 'Автомобиль', 'Volkswagen California', '', 'item-1.svg', 'item--draft').item--draft
                  h2.mb-25 Персональные предложения
                  .card-slider
                    +offer('Скидка на полис КАСКО 20%', 'Оформите полис КАСКО для второго автомобиля и получите скидку')
                    +offer('Скидка на полис КАСКО 20%', 'Оформите полис КАСКО для второго автомобиля и получите скидку')
                .js-tabs__content-item.tabs-primary__content-item
                  h2.mt-45.mb-25 Профиль и личные данные
                  .box-shadow
                    .p-30.border-bottom
                      h5.font-weight-bold.mb-25 Контакты и безопасность
                      .row.mb-30
                        .col-sm-5
                          p.text-gray.mb-5 E-mail
                          .d-flex.align-items-baseline
                            p.mb-0 k.konstantinopolskiy@gmail.com
                            p.mb-0.ml-15
                              a(href="#") Изменить
                        .col-sm-7
                          p.text-gray.mb-5 Телефон
                          .d-flex.align-items-baseline
                            p.mb-0 +7(999) 561-25-93
                            p.mb-0.ml-15
                              a(href="#") Изменить
                      .row
                        .col-sm-5
                          .custom-control.custom-checkbox
                            input#profile1.custom-control-input(type='checkbox', checked)
                            label.custom-control-label(for='profile1')
                              div
                                p.mb-10 Двухфакторная авторизация
                                p.p--sm.p--gray Защита доступа к вашей учетной записи кодом подтверждения
                        .col-sm-7
                          p.text-gray.mb-5 Пароль
                          .d-flex.align-items-baseline
                            p.mb-0 *************
                            p.mb-0.ml-15
                              a(href="#") Изменить
                    .p-30.border-bottom
                      .d-flex.align-items-baseline.justify-content-between.mb-25
                        h5.font-weight-bold.mb-0 Паспортные данные
                        p.mb-0
                          a(href="#") Запросить изменения
                      .row.mb-20
                        .col-sm-5
                          p.text-gray.mb-5 ФИО
                          p.mb-0 Константинопольский Константин Демьянович
                        .col-sm-7
                          .row
                            .col-sm-5
                              p.text-gray.mb-5 Дата рождения
                              p.mb-0 05.10.1979
                            .col-sm-7
                              .row
                                .col-sm-6
                                  p.text-gray.mb-5 Серия
                                  p.mb-0 5012
                                .col-sm-6
                                  p.text-gray.mb-5 Номер
                                  p.mb-0 657912
                      .row
                        .col-sm-5
                          p.text-gray.mb-5 Выдан
                          p.mb-0 Отделением УФМС России по ХМАО в городе Ханты-Мансийск
                        .col-sm-7
                          .row
                            .col-sm-5
                              p.text-gray.mb-5 Код подразделения
                              p.mb-0 889-554
                            .col-sm-7
                              p.text-gray.mb-5 Дата выдачи
                              p.mb-0 03.12.1994
                    .p-30.border-bottom
                      .d-flex.align-items-baseline.justify-content-between.mb-25
                        h5.font-weight-bold.mb-0 Адрес
                        p.mb-0
                          a(href="#") Запросить изменения
                      .row.mb-20
                        .col-sm-5
                          p.text-gray.mb-5 Адрес регистрации
                          p.mb-0 111777, Ханты-Мансийский АО-Югра, г Ханты-Мансийск, ул Сельскохозяйственная, д 172к3, стр 12, кв 39
                        .col-sm-7
                          .mb-10
                            p.text-gray.mb-5 Адрес проживания
                            .d-flex.align-items-end
                              p.mb-0 111777, Ханты-Мансийский АО-Югра, г Ханты-Мансийск, ул Сельскохозяйственная, д 172к3, стр 12, кв 39
                              p.mb-0.ml-15
                                a(href="#") Изменить
                          .custom-control.custom-checkbox
                            input#profile1.custom-control-input(type='checkbox', checked)
                            label.custom-control-label(for='profile1')
                                p.mb-0 Двухфакторная авторизация
                    .p-30
                      h5.font-weight-bold.mb-25 Документы
                      +papers('Договор страхования')
                      +papers('Ксерокопия паспорта', '1', 'papers--tooltip').papers--checked
                      +papers('Копия свидетельства о рождении')
                      a.cabinet__add-paper(href="#") Другой документ

  +modal('modal--two-factor').modal--short
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--edit-password').modal--short
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--edit-phone').modal--short
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--phone-sms').modal--short
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--edit-address').modal--average-plus
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--edit-email').modal--short
    a.modal__close.modal__close--outside(href="#")
  //+modal('modal--request').modal--average
  +footer
