extends ../templates/template.pug
block content
  +header
  section.section__request
    .container
      h2.mb-30 Новое обращение
      .section__request--box.box-shadow-sm
        h5.mb-30 Выберите тип обращения
        .row
          .col-lg-4.mb-30
            +type('type-1.svg', 'Страховой случай', 'Краткое пояснение типа обращения в две строки')
          .col-lg-4.mb-30
            +type('type-2.svg', 'Расторжение договора', 'Краткое пояснение типа обращения в две строки')
          .col-lg-4.mb-30
            +type('type-3.svg', 'Оставить жалобу', 'Краткое пояснение типа обращения в две строки')
          .col-lg-4.mb-30
            +type('type-4.svg', 'Консультация', 'Краткое пояснение типа обращения в две строки')
          .col-lg-4.mb-30
            +type('type-5.svg', 'Изменение договора', 'Краткое пояснение типа обращения в две строки')
  +footer
