extends ../templates/template.pug
block content
  +header
  .cabinet
    .container
      .row.no-gutters
        .col-xl-3.d-flex
          .cabinet__user
            .cabinet__user-content
              .cabinet__user-photo(style="background-image: url(./img/userpic.jpg);")
                a.cabinet__user-photo-edit(href="#")
              .cabinet__user-text
                h6.cabinet__user-name Константин Константинопольский
                p.cabinet__user-phone.d-none.d-md-block +7 920 234 56 78
                p.cabinet__user-email.d-none.d-md-block serg@mail.com
        .col-xl-9
          .cabinet__content
            .js-tabs.tabs-primary
              .js-tabs__btns-group.tabs-primary__btns-group
                .container
                  .tabs-primary__btns-list.js-tabs__menu.js-tabs__menu-scroll(data-tabs="#tabs-group-1")
                    .js-tabs__btn.tabs-primary__btn.tabs-primary__btn--active.js-tabs__btn--active(role="button" data-tab=0)
                      | Обращения и консультации
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=1)
                      | Мои полисы
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=2)
                      | Профиль и личные данные
              .js-tabs__content.tabs-primary__content#tabs-group-1
                .js-tabs__content-item.tabs-primary__content-item
                  .d-flex.align-items-center.justify-content-between.mb-30
                    .d-flex.align-items-center
                      a.cabinet__back(href="#")
                      h2.pb-0 Смертельно опасное заболевание
                    .tooltip
                      p.p--gray.mb-0.tooltip__trigger.tooltip__trigger--text Изменения сохранены
                      .tooltip__content.tooltip__content--right-top
                        p Все изменения автоматически сохраняются <br>Последнее изменение: 12 минут назад
                  .cabinet__request
                    .p-30.d-flex.align-items-center.cabinet__border-bottom-box
                      .pr-sm-40
                        p.p--gray № обращения
                        p 34234342
                      .pr-sm-40
                        p.p--gray Тип обращения
                        p Расторжение договора
                      .pr-sm-40
                        p.p--gray № полиса
                        p 345-678
                    +stack('stack--big')
                .js-tabs__content-item.tabs-primary__content-item
                .js-tabs__content-item.tabs-primary__content-item
  +footer
