extends ../templates/template.pug
block content
  +header
  .section.section--create-request-form.pt-50.pb-100: .container
    .d-flex.align-items-baseline.justify-content-between.pb-30
        .d-flex.align-items-baseline
          a.arrow-back(href="#")
          h2.mb-0 Обращение по смертельно опасному заболеванию
        .tooltip.d-none.d-md-block
          p.p--gray.mb-0.tooltip__trigger.tooltip__trigger--text Изменения сохранены
          .tooltip__content.tooltip__content--right-top
            p Все изменения автоматически сохраняются <br>Последнее изменение: 12 минут назад
    form.form.box-shadow-sm(action="#", method="POST")
      .border-bottom.px-15.px-sm-30.pt-30
        .d-flex.align-items-center.justify-content-between.mb-15
          .d-flex.align-items-center
            h5.mb-0.font-weight-bold.mr-10 Заявитель
            +tooltip('Тот, кто оформляет обращение')
          span.form__required.d-none.d-md-block
            span.text-warning *  
            | – поля, обязательные для заполнения
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Фамилия", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Имя", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Отчество", "request3", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Номер телефона", "request4", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Email", "request5", "Ошибка при заполнении поля").field--static.field--required
      .px-15.px-sm-30.pt-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold.mr-10 Застрахованное лицо
          +tooltip('Тот, на кого оформлен полис страхования')
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Фамилия", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Имя", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "Отчество", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold Договор и страховое событие
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "№ договора страхования", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Место приобретения договора", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--calendar", "text", "Дата происшествия (страхового события)", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30.border-bottom
        .d-flex.align-items-center.mb-15
          h5.mb-0.font-weight-bold Платежные реквизиты для возврата денежных средств
        .row
          .col-md-6.col-lg-4.pb-30
            +field("", "text", "БИК", "request1", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--tooltip", "text", "Расчетный/лицевой счет", "request2", "Ошибка при заполнении поля").field--static.field--required
          .col-md-6.col-lg-4.pb-30
            +field("field--calendar", "text", "Коррсчет Банка", "request3", "Ошибка при заполнении поля").field--static.field--required
      .py-20.px-15.p-sm-30: .row: .col-lg-4.ml-auto
        a.btn.btn-primary.w-100(href="#") Продолжить
  +footer
