extends ../templates/template.pug
block content
  .wrapper
    +header
    .hero(style="background-image: url(./img/home-hero-bg.jpg)")
      .hero__bg-mob.px-5.px-md-0.py-80.py-md-0(style="background-image: url(./img/home-hero-bg-mob.svg)")
        .container
          .row
            .col-lg-11.mx-auto
              h1.hero__title.text-center.text-md-left.mb-70.d-none.d-md-block Прозрачное и понятное страхование 
              h1.hero__title.text-center.text-md-left.mb-70.d-md-none Прозрачное и понятное страхование от Кардиф
              .d-none.d-md-flex
                .hero__feature
                  span.hero__feature-icon
                    img(src="./img/feature-icon-1.svg", alt)
                  .hero__feature-text Мы проведем Вас за руку по всем шагам
                .hero__feature
                  span.hero__feature-icon
                    img(src="./img/feature-icon-2.svg", alt)
                  .hero__feature-text Чтобы не случилось - всегда ясно, что делать
    .bg-gray-secondary: .container.container--offset-top
      .row
        .col-xl-4.pb-30.pb-xl-0
          form.form.px-15.px-sm-30.h-100.py-40.shadow: .row
            .col-xl-12: h3.text-center.text-md-left.form__title Что вы хотите защитить?
            .col-12: .form__desc.mb-20.text-center.text-md-left BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера
            .col-md-6.col-xl-12.pb-md-30: .form__group
              label.d-none.d-md-block(for="control-1") Город
              select.select#control-1
                option(value="", disabled, selected) Выберите
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
              .form__group-text.d-none.d-md-block Например, 
                a(href="#") Квартиру
            .col-md-6.col-xl-12.pb-30.d-none.d-md-block: .form__group
              label(for="control-2") Город
              select.select#control-2
                option(value="", disabled, selected) Выберите
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
                option(value="") Вариант 4
              .form__group-text Например, 
                a(href="#")  Квартиру
            .col-12.text-right.d-none.d-md-block
              a.form__link(href="#") История расчетов
        .col-xl-8.d-flex
          .row.no-gutters.shadow.shadow--sm-none
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-1.svg", "Недвижимость", "от 999 рублей")(class="h-100")
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-2.svg", "Здоровье", "от 999 рублей")(class="h-100")
            .col-md-4.pb-30.pb-md-0
              +category("", "./img/category-img-3.svg", "Автомобиль", "от 999 рублей")(class="h-100")
            .col-12.pb-30.pb-md-0
              +category("category--fullwidth", "./img/category-img-4.svg", "Ипотека", "от 999 рублей", "Здесь пишем вступительный текст про страхование ипотеки", "Специальные условия")(class="h-100")
    section.section.section--approach.bg-gray-secondary
      .container
        .row
          .col-md-7.col-lg-6.pl-md-0.align-self-center.order-1.order-lg-0.mx-auto
            img(src="./img/method.svg" alt="")
          .col-lg-6.pb-20
            .text-center.text-lg-left
              h2.section__title.mb-40 Наш новый подход к страхованию удивит вас
              p.text-gray.mb-40 ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования и страхования имущества.
            .comments-slider
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
              .comments-slider__item: +comment("", "./img/comment-img-1.jpg", "Спасибо большое команде Кардиф, за проделанную работу. Сразу видно, что работают профессионалы своего дела. Ваш подход к делу меня очень удивил и порадовал. Спасибо вам!", "Ольга Соловьева, ", "12 ноября 2017")
    section.section.section--magazine.py-50.py-md-80
      .container.section__bg-text(data-text-logo="Хэппенс")
        .text-center.text-md-left
          h2.section__title.section__title--magazine
            small.d-block журнал
            | Хэппенс
        .row
          .col-xl-8
            .row.previews-slider
              .col-md-6.previews-slider__item.d-flex.pb-30
                +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
              .col-md-6.previews-slider__item.d-flex.pb-30
                +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
              .col-md-12.previews-slider__item.d-flex.pb-0.pb-xl-30
                +preview("preview--fullwidth", "./img/preview-img-3.png", "Советы по страхованию здоровья", "", "Статья", "article", "true")(class='preview--hover preview--hover-primary')
          .col-lg-4.d-none.d-xl-flex.pb-30
            +preview("preview--secondary", "./img/category-img-1.svg", "Новый дом - новая жизнь", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…", "Статья", "article", "true")
    section.section.section--news.bg-gray-secondary.pt-50.pt-md-90.pb-50.pb-md-0
      .container
        h2.section__title Новости и акции
        .news-slider
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("news--action", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
          +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
    +footer
