extends ../templates/template.pug
block content
  +header
  section.section__request
    .container
      .d-flex.align-items-baseline
        a.arrow-back(href="#")
        h2.mb-30 Обращение по страховому случаю
      .section__request--box.box-shadow-sm
        h5 Выберите тип страхового случая
        .js-tabs.tabs-secondary
          .d-flex.align-items-center.justify-content-between.mb-30
            .d-none.d-md-block
              .js-tabs__menu.js-tabs__btns-group.tabs-secondary__btns-group(data-tabs="#tabs-requests-1")
                .js-tabs__btn.tabs-secondary__btn.tabs-secondary__btn--active.js-tabs__btn--active(role="button" data-tab=0) Автомобиль
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=1) Здоровье
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=2) Имущество
                .js-tabs__btn.tabs-secondary__btn(role="button" data-tab=3) Прочее
          .d-md-none.mb-30
            select.select.js-tabs__menu-select(data-tabs="#tabs-requests-1")
              option(value="0") Автомобиль
              option(value="1") Здоровье
              option(value="2") Имущество
              option(value="3") Прочее
          .js-tabs__content.tabs-secondary__content#tabs-requests-1
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Страховой случай', '').type--short
                .col-md-4.mb-30
                  +type('', 'Расторжение договора', '').type--short
                .col-md-4.mb-30
                  +type('', 'Оставить жалобу', '').type--short
                .col-md-4.mb-30
                  +type('', 'Консультация', '').type--short
                .col-md-4.mb-30
                  +type('', 'Изменение договора', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Травматическое повреждение', '').type--short
                .col-md-4.mb-30
                  +type('', 'Инвалидность', '').type--short
                .col-md-4.mb-30
                  +type('', 'Смертельно опасное заболевание', '').type--short
                .col-md-4.mb-30
                  +type('', 'Госпитализация', '').type--short
                .col-md-4.mb-30
                  +type('', 'Проведение хирургической операции', '').type--short
                .col-md-4.mb-30
                  +type('', 'Смерть', '').type--short
                .col-md-4.mb-30
                  +type('', 'Временная утрата трудоспособности', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Страхование рисков, связанных с утратой личных документов или вещей', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование персональных электронных устройств и бытовой техники', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование рисков, связанных с использованием банковских карт', '').type--short
                .col-md-4.mb-30
                  +type('', 'Страхование имущества и гражданской ответственности', '').type--short
                .col-md-4.mb-30
                  +type('', 'Защита покупателя', '').type--short
            .js-tabs__content-item.tabs-secondary__content-item
              .row
                .col-md-4.mb-30
                  +type('', 'Недобровольная потеря работы', '').type--short
  +footer
