extends ../templates/template.pug
block content
  .bg-light
    .wrapper
      +header

      .my-50
        +front('front--simple')(style="background-image: url(./img/City.png);").front--primary

      .my-50
        +front('front--video')(style="background-image: url(./img/City.png);").front--primary.front--video

      .my-50
        +front('front--form')(style="background-image: url(./img/City.png);").front--primary.front--form

      .my-50
        +front('front--picture')(style="background-image: url(./img/front-bg-1.jpg);").front--dark.front--picture

      .my-50
        +front('front--slider')(style="background-image: url(./img/front-bg-2.jpg);").front--dark.front--slider

      .my-50
        .container
          .hero.hero--narrow(style="background-image: url(./img/home-hero-bg.jpg)")
            .row
              .col-lg-11.mx-auto
                h1.hero__title.mb-70 Прозрачное и понятное страхование 
                .d-md-flex
                  .hero__feature
                    span.hero__feature-icon
                      img(src="./img/feature-icon-1.svg", alt)
                    .hero__feature-text Мы проведем Вас за руку по всем шагам
                  .hero__feature
                    span.hero__feature-icon
                      img(src="./img/feature-icon-2.svg", alt)
                    .hero__feature-text Чтобы не случилось - всегда ясно, что делать

      .my-50.mb-100
        .container
          .slider.slider__dark
            .slider__item
              .hero.hero--tight(style="background-image: url(./img/home-hero-bg.jpg)")
                .row
                  .col-lg-11.mx-auto
                    h1.hero__title.mb-70 Прозрачное и понятное страхование 
                    .d-md-flex
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-1.svg", alt)
                        .hero__feature-text Мы проведем Вас за руку по всем шагам
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-2.svg", alt)
                        .hero__feature-text Чтобы не случилось - всегда ясно, что делать
            .slider__item
              .hero.hero--tight(style="background-image: url(./img/home-hero-bg.jpg)")
                .row
                  .col-lg-11.mx-auto
                    h1.hero__title.mb-70 Прозрачное и понятное страхование 
                    .d-md-flex
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-1.svg", alt)
                        .hero__feature-text Мы проведем Вас за руку по всем шагам
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-2.svg", alt)
                        .hero__feature-text Чтобы не случилось - всегда ясно, что делать
            .slider__item
              .hero.hero--tight(style="background-image: url(./img/home-hero-bg.jpg)")
                .row
                  .col-lg-11.mx-auto
                    h1.hero__title.mb-70 Прозрачное и понятное страхование 
                    .d-md-flex
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-1.svg", alt)
                        .hero__feature-text Мы проведем Вас за руку по всем шагам
                      .hero__feature
                        span.hero__feature-icon
                          img(src="./img/feature-icon-2.svg", alt)
                        .hero__feature-text Чтобы не случилось - всегда ясно, что делать

      .my-50
        .container
          +offers

      .my-50
        .container.container--tariffs
          .tariffs-list
            +tariff('Тариф «Простой»', '999 р.')
            +tariff('Тариф «Средний»', '1 999 р.')
            +tariff('Тариф «Полный»', '2 999 р.')

      .my-50
        .container
          +calc('calc--detailed')

      .my-50
        .container
          +calc('calc--short')

      .my-50
        .container
          h2.mb-30.text-center Почему выбирают нас?
          p.p--lg.p--gray.text-center BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas
          .row
            .col-sm-6.col-lg-3.pb-30
              +advantage('Преимущество первое', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').text-center
            .col-sm-6.col-lg-3.pb-30
              +advantage('Преимущество второе', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').text-center
            .col-sm-6.col-lg-3.pb-30
              +advantage('Преимущество третье', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').text-center
            .col-sm-6.col-lg-3.pb-30
              +advantage('Преимущество четвертое', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').text-center

      .my-50
        .container
          h2.mb-30.text-center Почему выбирают нас?
          .row.mb-30: .col-lg-5.mx-auto
            p.p--lg.p--gray.text-center BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas
          .row
            .col-md-5.mb-40.mb-md-0
              .bg-white.p-35.rounded-lg: img.w-100(src="./img/advantage-bg.png")
            .col-md-7.pl-lg-60
              +advantage('Преимущество первое', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').advantage--line
              +advantage('Преимущество второе', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').advantage--line
              +advantage('Преимущество третье', 'Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда.').advantage--line

      .my-50
        .bg-primary.py-30.py-md-80
          .container
            h2.mb-20.mb-md-55.text-center Всего четыре шага
            +steps-list

      .my-50
        +appeal

      .my-50
        .container
          .row
            .col-md-6
              h1 Простой и понятный процесс покупки полиса
              p.text-primary.p--lg Все просто, как никогда
            .col-md-6
              p.p--lg.p--grayish Здесь мы чувствуем себя комфортно и безопасно, и хочется, чтобы так было всегда. К сожалению, бытовые аварии, пожары, кражи и другие бедствия могут нарушить привычное спокойствие, а устранение их последствий — привести к большим финансовым потерям. Но к неприятностям можно подготовиться заранее.
              p.p--lg.p--grayish Воспользовавшись программой «Домашний очаг», вы убережете себя от непредвиденных расходов и защитите то, что вам действительно дорого.

      .my-50
        .container
          .row
            .col-md-9.mx-auto
              .accent.accent--underlined Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы
                span.accent__highlighted BNP Paribas
                | , европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.

      .my-50
        .container
          .row
            .col-md-9.mx-auto
              .accent.accent--overlined.text-center Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.

      .my-50
        .container
          .row
            .col-md-8.mx-auto
              .accent.accent--primary-big Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы

      .my-50
        .container
          .row
            .col-md-8.mx-auto
              .accent.accent--primary-overlined Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.

      .my-50
        .container
          .row
            .col-md-8.mx-auto
              .accent.accent--bordered Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.

      .my-50
        .accent.accent--background(style="background-image: url(./img/kids.jpg);")
          .container
            .row
              .col-lg-7.offset-lg-2.col-md-8
                p.p--lg.text-white.accent__paragraph Дети – смысл жизни. Их защита – наша главная задача. Риск пострадать от собственной неосторожности у ребенка гораздо выше во время каникул. Лишать непоседу радостей детства нельзя, а вот получить надежную финансовую поддержку можно!

      .my-50
        .accent.accent--pictured
          .container
            .row
              .col-lg-6.d-flex.mb-15.mb-lg-0
                .accent__picture(style="background-image: url(./img/care.jpg);")
              .col-lg-6.d-flex
                .accent__content
                  h2.text-white.accent__header.mb-45 Простой и понятный процесс покупки полиса
                  p.text-white.p--lg.mb-0 Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.
    +footer
