extends ../templates/template.pug
block content
  +header
  .hero.hero--shops
    .container
      h1.hero__title Хэппенс
      p.hero__desc.d-none.d-sm-block
        | Наш дом - наша крепость. Место, где мы чувствуем себя комфортно и спокойно. Хочется, чтобы так было всегда.
      .tabs-secondary.js-filter.pt-sm-20
        .tabs-secondary__btns-group
          .js-filter__btn.tabs-secondary__btn.tabs-secondary__btn--active(role="button", tabindex="0", data-filter="all") Все
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--article") Статьи
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--video") Видео
          .js-filter__btn.tabs-secondary__btn(role="button", tabindex="0", data-filter=".preview--infographic") Инфографика
  .container.py-40.py-lg-70
    .js-filter
      .js-filter__content.previews-grid(data-masonry='{ "itemSelector": ".previews-grid__item"}')
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
        .previews-grid__item: +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
        .previews-grid__item.previews-grid__item--w2: +preview("preview--fullwidth", "./img/preview-img-3.png", "Советы по страхованию здоровья", "", "Статья", "article", "true")(class='preview--hover preview--hover-primary')
        .previews-grid__item.previews-grid__item--h2: +preview("preview--secondary", "./img/category-img-1.svg", "Новый дом - новая жизнь", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного, личного страхования…", "Статья", "article", "true")
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
        .previews-grid__item: +preview("", "./img/preview-img-2.svg", "Украли банковскую карту. Что делать?", "", "Видео", "video")(class="preview--hover preview--hover-red")
        .previews-grid__item: +preview("", "./img/preview-img-1.svg", "Что делать если залили квартиру?", "", "Статья", "article","","Узнайте как защитить свое здоровье в бытовых условиях и не только…")(class="preview--hover preview--hover-primary")
    .text-center
      a.btn.btn-outline-primary(href="#") Посмотреть еще
  +footer
