extends ../templates/template.pug
block content
  +header
  .hero.hero--news.pb-0.pb-md-70
    .container
      span.tag.hero__tag.mb-20.mb-md-30 Акция
      h1.hero__title.mb-55.mb-md-25 10% Скидка на все виды страхования
      p.hero__desc
        | ООО "СК КАРДИФ" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…
  section.section.section--news.pt-20.pt-md-70.pb-50.pb-md-70.pb-xl-90
    .container
      .row
        .col-md-8.mb-20.mb-md-0.text-center.text-md-left
          p
            | BNP Paribas CARDIF уделяет большое внимание соблюдению принципов корпоративной и социальной ответственности. С 2007 г. мы реализуем программу по уменьшению выбросов углекислого газа в атмосферу, а также занимаемся поддержкой "Программы инвестирования с учетом социальной ответственности", что позволяет нам учитывать мнения всех сотрудников в подразделениях компании по всему миру.
          p
            | BNP Paribas много лет успешно занимается бизнесом в различных областях экономики, занимая лидерские позиции в отдельных направлениях. Однако, являясь глобальной компанией, мы осознаем свою социальную ответственность и признаем необходимость своего участия во многих сферах социальной жизни нашего общества.
          p
            | Наша компания много внимания уделяет не только развитию своего бизнеса, но и социальным проектам в разных областях. Мы стараемся оказать помощь и поддержку в образовании, здравоохранении, заботе об экологии нашей планеты, а также в других направлениях.
          p
            | Например, мы осуществляем поддержку в обучении чтению для малообеспеченных тайваньских детей, финансируем операции по удалению катаракты в Индии и поддерживаем спортивные мероприятия для инвалидов в Нидерландах.
          p
            | Кроме этого, мы стараемся внести дополнительный вклад в экономическое и социальное развитие стран и экономик, на рынках которых компания работает. Мы оказываем помощь предпринимательству и поощряем предпринимательские инициативы в социальной сфере.
        .col-md-4
          h6.text-center.text-md-left Подтверждающие документы
          +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
          +document("", "Аудиторское заключение 2013", "Размещено 17.11.2015 12:48")
      .text-center.text-md-left.mt-40.mb-50.mb-md-70
        +back-link("", "Вернуться к списку")
      +cta("cta--border", "Заголовок call-to-action", "Звоните нам по телефону + 7 (495) 456-67-89 или отправляйте резюме с сайта", "Действие")
  section.section.section--read-more.py-50.py-md-70.py-xl-90
    .container
      h3.text-center.text-md-left Читайте так же
      .news-slider
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…", "Акция")
        +news("", "23 декабря 2017", "10% Скидка на все виды страхования", "ООО \"СК КАРДИФ\" входит в состав французской страховой группы BNP Paribas CARDIF, одного из мировых лидеров в области банковского, кредитного…")
  +footer
