extends ../templates/template.pug
block content
  +header
  .cabinet
    .container
      .row.no-gutters
        .col-xl-3
          .cabinet__user
            .cabinet__user-content
              .cabinet__user-photo(style="background-image: url(./img/userpic.jpg);")
                a.cabinet__user-photo-edit(href="#")
              .cabinet__user-text
                h6.cabinet__user-name Константин Константинопольский
                p.cabinet__user-phone.d-none.d-md-block +7 920 234 56 78
                p.cabinet__user-email.d-none.d-md-block serg@mail.com
        .col-xl-9
          .cabinet__content

            .js-tabs.tabs-primary
              .js-tabs__btns-group.tabs-primary__btns-group
                .container
                  .tabs-primary__btns-list.js-tabs__menu.js-tabs__menu-scroll(data-tabs="#tabs-group-1")
                    .js-tabs__btn.tabs-primary__btn.tabs-primary__btn--active.js-tabs__btn--active(role="button" data-tab=0)
                      | Обращения и консультации
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=1)
                      | Мои полисы
                    .js-tabs__btn.tabs-primary__btn(role="button" data-tab=2)
                      | Профиль и личные данные
              .js-tabs__content.tabs-primary__content#tabs-group-1
                .js-tabs__content-item.tabs-primary__content-item
                .js-tabs__content-item.tabs-primary__content-item
                  .d-flex.align-items-center.mb-30
                    a.cabinet__back(href="#")
                    h2.mb-0.pb-0.ml-15 КАСКО - Volkswagen California
                  .row.no-gutters.box-shadow.mb-30.bg-white
                    .col-lg-8
                      .pt-35.px-30.pb-40.border-bottom
                        h6.mb-25 Полис № 455-655
                        +validity('Действует', 'до 12 сен 2019 г.')
                        .row
                          .col-sm-6
                            p.p--gray.pb-10 Стоимость страховки
                            h4.font-weight-normal.mb-0 4 000 руб.
                          .col-sm-6
                            p.p--gray.pb-10 Кто может получить выплату?
                            p.pt-0.pb-0 Константинопольский Константин Константинович
                      .pt-45.pb-35.px-30.border-bottom
                        h6.mb-25 Мой автомобиль
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 Марка
                          .col-sm-6
                            p.mb-0 Volkswagen California
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 Год выпуска
                          .col-sm-6
                            p.mb-0 2015
                        .row.mb-15
                          .col-sm-6
                            p.p--gray.mb-0 VIN
                          .col-sm-6
                            p.mb-0 2345998885443ZZ4
                        .row
                          .col-sm-6
                            p.p--gray.mb-0 Стоимость на момент страхования
                          .col-sm-6
                            p.mb-0 2 560 000 руб.
                      +user-document
                    .col-lg-4.border-left
                      .px-30.py-40
                        img.img-fluid(src="img/policy-1.svg", alt="")
                        p.p--gray.my-20.text-center На данный момент у вас нет страховых случаев
                        a.btn.btn-primary(href="#") Заявить о страховом случае
                        a.btn.btn-outline-primary.w-100.mt-30(href="#") Расторгнуть договор
                  +explanation
                .js-tabs__content-item.tabs-primary__content-item
  +footer
