doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug

  body.body--fixed
    +header('header--logged-out')
    +registration

    //+modal('modal--confirmation')#modalConfirmation.modal--short.modal--confirmation.modal--mobile-close
      a.modal__close(href="#")

    //+modal('modal--success')#modalSuccess.modal--short

    +modal('modal--error')#modalError.modal--short

    //.modal__wrapper.modal__wrapper--active
      .modal
        a.modal__close(href="#")
        +registration

    //+modal('modal--callback')#modalCallback.modal--average
      a.modal__close.modal__close--outside(href="#")

    //+modal('modal--callback-success')#modalCallbackSuccess.modal--average
      a.modal__close.modal__close--outside(href="#")

    +footer
    script(src="js/vendor.js?version=1")
    script(src="js/scripts.js?version=1")
