.dropdown {
  position: absolute;
  top: 100%;
  right: -15px;
  margin-top: 15px;
  padding: 20px 0;
  display: none;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 14px 0 rgba(125, 137, 156, .2);

  @include media-breakpoint-down(md) {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    margin-top: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
  }

  &__trigger {
    &--active {
      position: relative;

      &:after {
        position: absolute;
        z-index: 1;
        right: 50%;
        bottom: -30px;
        display: block;
        width: 20px;
        height: 20px;
        content: '';
        background: #fff;
        transform: translateX(50%) rotate(45deg);

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &__header {
    display: none;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      padding-left: 20px;
      display: flex;
      width: 100%;
      height: 53px;
      align-items: center;
      background: #fff;
      border-bottom: 1px solid #d4dbe4;
    }
  }

  &__header-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: $black;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 53px;
    height: 53px;
    background: $primary url(../img/close--white.svg) no-repeat center;
  }

  &__row {
    display: flex;

    @include media-breakpoint-down(md) {
      padding: 53px 15px 0;
      flex-direction: column;
    }
  }

  &__column {
    padding: 0 15px;
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 20px 0 30px;
      width: 100%;
    }

    & + & {
      border-left: 1px solid #d4dbe4;

      @include media-breakpoint-down(md) {
        border-top: 1px solid #d4dbe4;
        border-left: 0;
      }
    }
  }

  &__icon {
    margin-bottom: 10px;
    width: 100%;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  &__title {
    @include media-breakpoint-down(md) {
      font-size: 17px;
    }
  }

  &__dscr {
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: $gray-secondary;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1.2;
    color: $primary;
  }
}
