mixin dropdown(modifier)
  .dropdown&attributes(attributes)

    if modifier == 'dropdown--callback'
      .dropdown__header
        h3.dropdown__header-title Общение с Кардиф
        a.dropdown__close(href="#")
      .dropdown__row
        .dropdown__column
          .dropdown__icon(style="background-image: url(./img/callback-1.svg);")
          p.dropdown__title.mb-15.text-center Задать вопрос
          p.dropdown__dscr Карди поможет вам разобраться с любыми вопросами по работе системы.
          a.dropdown__link(href="#") Открыть чат с Карди
        .dropdown__column
          .dropdown__icon(style="background-image: url(./img/callback-2.svg);")
          p.dropdown__title.mb-15.text-center Обращение
          p.dropdown__dscr Обратитесь за помощью в оформлении страховых случаев на сайте.
          a.dropdown__link(href="#") Создать обращение
        .dropdown__column
          .dropdown__icon(style="background-image: url(./img/callback-3.svg);")
          p.dropdown__title.mb-15.text-center Обратный звонок
          p.dropdown__dscr Закажите обратный звонок и наши специалисты помогут решить любой ваш вопрос.
          a.dropdown__link(href="#") Заказать
