mixin stack(modifier)
  .stack&attributes(attributes)
    .stack__header
      .stack__header-wrapper
        .stack__header-content
          a.stack__header-link(href="#") Документы
          .stack__counter
            span.stack__counter-header Загружено
            .stack__counter-content
              span.stack__counter-current 1 
              span.stack__counter-overall из 3
            span.stack__counter-comment документов
        .stack__progress
          .stack__progress-filled(width="33.33%;")
      p.p--gray.mb-0.stack__header-save Сохранение изменений...
    .stack__content
      p.p--gray Для начала работы наших специалистов по вашему обращению, нам необходимо получить от вас перечень документов, приведенный ниже. Подготовьте сканы всех документов и загрузите их с помощью формы загрузки.
      p.p--gray Обращаем внимание! К каждому наименованию документов из списка ниже Вы можете прикрепить не более пяти файлов. Размер одного приложенного файла не должен превышать 20 Мб.
      .stack__papers
        if modifier == 'stack--few-paper'
          +papers('Заявление о признании договора страхования незаключенным', '5', 'papers--tooltip').papers--no-button.papers--checked
          +papers('Ксерокопия паспорта', '', 'papers--tooltip')
          +papers('Копия свидетельства о рождении', '', 'papers--tooltip')
        if modifier == 'stack--big'
          +papers('Заявление на страховую выплату с указанием банковских реквизи…', '1', 'papers--tooltip').papers--checked
          +papers('Доверенность на право представления интересов', '1', 'papers--tooltip').papers--checked
          +papers('Копия Договора страхования или заявления на подключение к програ…', '', 'papers--tooltip')
          +papers('Копия Кредитного договора', '', 'papers--tooltip')
          +papers('Копия графика погашения платежей', '', 'papers--tooltip')
          +papers('Копии страниц паспорта Застрахованного лица с фотографией и ад…', '5', 'papers--tooltip').papers--checked.papers--no-button
          +papers('Копии страниц паспорта Выгодоприобретателя с фотографией и ад…', '', 'papers--tooltip')
          +papers('Медицинское заключение о диагностировании смертельно опасного …', '', 'papers--tooltip')
          +papers('Выписка из амбулаторной карты с информацией о заболеваниях за 5…', '', 'papers--tooltip')
          +papers('Документы, удостоверяющие факт и обстоятельства события, и их но…', '', 'papers--tooltip')
        if block
          block
      .d-flex.justify-content-end.pt-15
        a.btn.btn-primary.stack__btn-send(href="#") Отправить

