.stack {
  padding: 30px;

  @include media-breakpoint-down(xs) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__header-link {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #2d2d2d;
    outline: none !important;

    &:after {
      position: absolute;
      right: -35px;
      bottom: 3px;
      width: 30px;
      height: 30px;
      content: '';
      background: transparent url(../img/arrow-dark.svg) 0 0 no-repeat;
      transform: rotate(90deg);

      @include transition;
    }

    &--opened {
      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 1.3;

    @include media-breakpoint-down(xs) {
      line-height: 1;
    }
  }

  &__counter-header {
    padding-right: 10px;
    font-size: 13px;
    color: #7d899c;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__counter-current {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: #3c3d48;
  }

  &__counter-overall {
    font-size: 13px;
    color: #7d899c;
  }

  &__counter-comment {
    padding-left: 10px;
    font-size: 13px;
    color: #7d899c;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__content {
    display: none;
  }

  &__progress {
    position: relative;
    margin: 12px 0 0;
    height: 3px;
    background-color: rgba(23, 158, 110, .15);
    border-radius: 34px;
  }

  &__progress-filled {
    position: absolute;
    top: -2.5px;
    left: 0;
    width: 33.33%;
    height: 7px;
    background-color: #179e6e;
    border-radius: 34px;
  }

  &__btn-send {
    width: 270px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
