.tabs-secondary {
  &__btns-group {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(sm) {
      margin-right: -6px;
      margin-left: -6px;
      justify-content: center;
    }
  }

  &__btn {
    margin-right: 30px;
    padding: 0 15px;
    min-width: 150px;
    height: 50px;
    font-size: 15px;
    line-height: 46px;
    text-align: center;
    color: $black;
    background-color: #fff;
    border: 2px solid #d4dbe4;
    border-radius: 2px;
    cursor: pointer;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 20px;
      min-width: 100px;
      height: 40px;
      line-height: 36px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 6px;
      margin-bottom: 12px;
      margin-left: 6px;
      min-width: 0;
      height: 34px;
      line-height: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #aeb5be;
    }

    &--active {
      color: #fff;
      background-color: $gray-secondary;
      border-color: $gray-secondary;

      &:hover {
        border-color: $gray-secondary;
      }
    }
  }

  &__content-item-inner {
    margin-bottom: 60px;
    border-bottom: 4px solid $light-gray-secondary;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
