mixin front(modifier)
  .front&attributes(attributes)

    if modifier == 'front--simple'
      .container
        .front__content
          h1.h1--lg.text-white.text-sm-center Прозрачное и понятное страхование
          h6.h6--lh-lg.text-white.text-sm-center Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.
          .d-flex.justify-content-center.mt-95
            a.btn.btn-primary.btn-primary--white.front__btn(href="#") Действие

    if modifier == 'front--video'
      .container
        .row
          .col-lg-5.col-md-12
            h1.h1--lg.text-white.desktop-hide Прозрачное и понятное страхование
            a.front__video(href="#", style="background-image: url(../img/front-video.jpg);")
              i.front__playicon
          .col-lg-7.col-md-12
            .front__content
              h1.h1--lg.text-white.mobile-hide Прозрачное и понятное страхование
              h6.h6--lh-lg.text-white Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг.
              a.btn.btn-primary.btn-primary--white.front__btn.mt-45(href="#") Действие

    if modifier == 'front--form'
      .container
        .row
          .col-xl-7.col-lg-6.col-md-12
            .front__content.front__content--arrow
              h1.h1--lg.text-white Прозрачное и понятное страхование
              h6.h6--lh-lg.text-white Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг.
          .col-xl-5.col-lg-5.col-md-12
            form.form.front__form(action="#", method="Оставьте заявку прямо сейчас!")
              h4 Оставьте заявку прямо  
                span.front__form-accent сейчас
                |!
              .front__form-content
                +field("", "text", "Имя и Фамилия", "front-1", "Ошибка при заполнении поля").mb-45
                +field("", "text", "Телефон", "front-2", "Ошибка при заполнении поля").mb-45
                +field("", "text", "E-mail", "front-3", "Ошибка при заполнении поля").mb-45
                .form__group
                  label.d-none.d-md-block(for="control-1") Город
                  select.select#control-1
                    option(value="", disabled, selected) Выберите
                    option(value="") Вариант 1
                    option(value="") Вариант 2
                    option(value="") Вариант 3
                .d-flex.justify-content-center.mt-45
                  button.btn.btn-primary.front__btn(type="submit") Отправить заявку

    if modifier == 'front--picture'
      .container.position-relative
        .front__content.front__content--positioned
          h1.text-white Прозрачное и понятное страхование
          h6.h6--lh-lg.text-white Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг.
          a.btn.btn-primary.btn-primary--white.front__btn(href="#") Действие

    if modifier == 'front--slider'
      .container
        .slider.slider--light
          .slider__item
            .front__content
              h1.h1--lg.text-white.text-sm-center Прозрачное и понятное страхование
              h6.h6--lh-lg.text-white.text-sm-center Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.
              .d-flex.justify-content-center.mt-95
                a.btn.btn-primary.btn-primary--white.front__btn(href="#") Действие
          .slider__item
            .front__content
              h1.h1--lg.text-white.text-sm-center Прозрачное и понятное страхование
              h6.h6--lh-lg.text-white.text-sm-center Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.
              .d-flex.justify-content-center.mt-95
                a.btn.btn-primary.btn-primary--white.front__btn(href="#") Действие
          .slider__item
            .front__content
              h1.h1--lg.text-white.text-sm-center Прозрачное и понятное страхование
              h6.h6--lh-lg.text-white.text-sm-center Крупный текст. BNP Paribas CARDIF - это страховой холдинг, входящий в состав группы BNP Paribas, европейского лидера банковских и финансовых услуг. Деятельность BNP Paribas CARDIF осуществляется в Европе, Азии и Южной Америке.
              .d-flex.justify-content-center.mt-95
                a.btn.btn-primary.btn-primary--white.front__btn(href="#") Действие
