.front {
  &__btn {
    min-width: 270px;
  }

  &--primary {
    padding: 225px 0 170px;
    background-color: #179e6e;
    background-repeat: repeat-x;
    background-position: center bottom;

    @include media-breakpoint-down(md) {
      padding: 200px 0 170px;
    }

    @include media-breakpoint-down(sm) {
      padding: 35px 0 30px;
    }
  }

  &--video {
    padding: 215px 0;

    @include media-breakpoint-down(md) {
      padding: 200px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 35px 0 30px;
    }

    .row {
      position: relative;
      justify-content: space-between;
      align-items: center;

      > div {
        position: static;
      }
    }

    .front__content {
      padding-left: 150px;

      @include media-breakpoint-down(lg) {
        padding-left: 80px;
      }

      @include media-breakpoint-down(md) {
        padding-left: 0;
      }
    }

    h1 {
      font-size: 48px;
      line-height: 1.2;

      &.desktop-hide {
        display: none;
      }

      @include media-breakpoint-down(lg) {
        font-size: 36px;
      }

      @include media-breakpoint-down(md) {
        &.desktop-hide {
          display: block;
        }

        &.mobile-hide {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        font-size: 34px;
      }
    }
  }

  &__video {
    display: flex;
    width: 500px;
    height: 370px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
      width: 400px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto 25px;
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      height: 215px;
    }
  }

  &__playicon {
    display: block;
    width: 50px;
    height: 50px;
    background: transparent url(../img/playicon.svg) 0 0 no-repeat;
    background-size: 50px 50px;
  }

  &--form {
    padding: 95px 0;

    @include media-breakpoint-down(md) {
      padding: 80px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 35px 0 30px;
    }

    .row {
      position: relative;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-size: 48px;
      line-height: 1.2;
    }

    .front__content {
      padding-right: 150px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }
    }
  }

  &__form {
    padding: 50px 38px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;

    h4 {
      font-size: 28px;
      line-height: 1.2;
      text-align: center;
      color: #2d2d2d;

      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }
  }

  &__form-accent {
    position: relative;

    &:after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      content: '';
      background: #bb1f70;
      border-radius: 7.5px;
    }
  }

  &--dark {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      padding: 160px 0 0;
    }

    .front__content {
      position: relative;
    }

    /*&:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(#000, .5);
    }*/
  }

  &--picture {
    padding: 388px 0 0;

    @include media-breakpoint-down(sm) {
      padding: 160px 0 0;
    }
  }

  &--slider {
    padding: 200px 0;

    @include media-breakpoint-down(sm) {
      padding: 35px 0 70px;
    }
  }

  &__content {
    @include media-breakpoint-down(md) {
      h1 {
        font-size: 48px;
      }
    }

    @include media-breakpoint-down(sm) {
      h1 {
        font-size: 34px;
        line-height: 1.2;
        text-align: left !important;
      }

      h6 {
        font-size: 15px;
        line-height: 1.2;
        text-align: left !important;
      }
    }

    &--arrow {
      position: relative;

      &:after {
        position: absolute;
        z-index: 1;
        right: 100px;
        bottom: -88px;
        display: block;
        width: 250px;
        height: 69px;
        content: '';
        background: transparent url(../img/form-arrow.svg) 0 0 no-repeat;

        @include media-breakpoint-down(lg) {
          right: -70px;
        }

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &--positioned {
      padding: 70px;
      width: 800px;
      background: #179e6e;
      border-radius: 35px 35px 0 0;

      @include media-breakpoint-down(md) {
        width: 100%;

        h1 {
          font-size: 36px;
          line-height: 1.2;
        }
      }

      @include media-breakpoint-down(xs) {
        padding: 30px 15px;
      }
    }
  }
}
