.news-slider {
  .slick-list {
    margin-right: -470px;
    padding-left: 15px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  .slick-track {
    display: flex !important;
    align-items: stretch !important;
  }

  .slick-slide {
    height: auto !important;
  }

  &__prev,
  &__next {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(/img/news-slider__next.svg) no-repeat;
    filter: grayscale(1) opacity(.6);

    @include transition;

    &:hover {
      filter: none;
    }
  }

  &__next {
    top: -56px;
    right: 0;
  }

  &__prev {
    top: -56px;
    right: 50px;
    transform: rotate(-180deg);
  }

  &__item {
    .news {
      width: 100%;
      max-width: none !important;
    }
  }
}
