.cabinet {
  position: relative;
  background-color: $light-gray-secondary;
  background-image: url(../img/cabinet-bg.png), url(../img/cabinet-bg-2.png);
  background-repeat: no-repeat;
  background-position: -40px bottom, right bottom;

  &__user {
    position: relative;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    border-right: 2px solid #d0d8e3;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-left: 0;
      border-right: none;
    }
  }

  &__user-content {
    @include media-breakpoint-up(xl) {
      position: sticky;
      top: 135px;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      align-items: center;
    }
  }

  &__user-photo {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
      margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      width: 60px;
      height: 60px;
    }
  }

  &__user-photo-edit {
    display: block;
    float: right;
    width: 42px;
    height: 42px;
    background-color: $primary;
    background-image: url(../img/camera-ic.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    border-radius: 50%;

    @include transition;

    @include media-breakpoint-down(xs) {
      width: 25px;
      height: 25px;
      background-size: 10px;
    }

    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  &__user-text {
    text-align: center;

    @include media-breakpoint-down(lg) {
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  &__user-name {
    margin-top: 20px;
    margin-bottom: 25px;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      margin-right: 30px;
      margin-bottom: 0;
      max-width: 190px;
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__user-email {
    font-size: 16px;
    color: $gray-secondary;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
      align-self: flex-end;
    }
  }

  &__user-phone {
    font-size: 16px;

    @include media-breakpoint-down(lg) {
      margin-right: 40px;
      margin-bottom: 0;
      align-self: flex-end;
    }
  }

  &__content {
    .tabs-primary__btns-group {
      padding-left: 60px;
      border-bottom: 2px solid #d0d8e3;

      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
    }

    .tabs-primary__btns-list {
      justify-content: flex-start;
    }

    .tabs-primary__btn {
      border-bottom-color: transparent;

      &--active {
        border-bottom-color: $primary;
      }
    }

    .tabs-primary__content {
      padding-top: 45px;
      padding-left: 60px;

      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
    }

    .tabs-secondary__btn {
      margin-right: 20px;
      margin-bottom: 20px;
      min-width: 130px;

      @include media-breakpoint-down(md) {
        margin-right: 15px;
        min-width: 0;
      }
    }

    .tabs-secondary__btns-group {
      margin-bottom: -20px;
    }
  }

  &__new {
    padding-left: 32px;
    background-image: url(../img/ic-new.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;

    @include transition;
  }

  &__add-paper {
    padding-left: 32px;
    display: inline-block;
    line-height: 24px;
    color: $gray-secondary;
    background-image: url(../img/ic-new-gray.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px;

    @include transition;

    &:hover {
      color: $primary;
    }
  }

  &__request {
    background-color: #fff;
  }

  &__back {
    margin-right: 15px;
    margin-bottom: 4px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../img/back.svg) 0 0 no-repeat;
  }

  &__border-bottom-box {
    border-bottom: 2px solid #d4dbe4;
  }
}
