mixin field(modifier, type, placeholder, id, hint)
  .field&attributes(attributes)
    if modifier == 'field--tooltip'
      .d-flex.align-items-center
        label.field__label(for= id)= placeholder
        .field__tooltip-wrap: +tooltip('Тот, на кого оформлен полис страхования')
    else
      label.field__label(for= id)= placeholder
    if modifier == 'field--calendar'
      input.field__input.field__calendar(class= modifier, id= id, type= type, placeholder= placeholder, required)
    else if modifier == 'field--textarea'
      textarea.field__input(class= modifier, id= id, placeholder= placeholder, required)
    else if modifier == 'field--phone'
      input.field__input.field__input--phone(id= id, type= type, placeholder= placeholder, required)
    else
      input.field__input(class= modifier, id= id, type= type, placeholder= placeholder, required)
    span.field__hint!= hint
    if modifier == 'field--password'
      a.field__unveil(href="#")
