.field {
  position: relative;

  &__input {
    padding: 0 15px;
    width: 100%;
    max-width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    color: #2e2e2e;
    background-color: #ffffff;
    border: solid 1px #d7dee6;
    border-radius: 2px;

    @include transition;

    @include placeholder(#7d899c);

    &--error {
      border-bottom-width: 2px;
      border-bottom-color: #f05454;

      @include placeholder(#2e2e2e);
    }

    &:hover {
      border: solid 1px #b3bdce;
    }

    &:focus {
      border-bottom-width: 2px;
      border-bottom-color: #179e6e;
    }

    &:disabled {
      background-color: #f2f4f8;

      &:hover {
        border-color: #d7dee6;
      }
    }
  }

  &__label {
    position: absolute;
    top: -25px;
    left: 0;
    margin-bottom: 0;
    opacity: 0;
    font-size: 13px;
    color: #7d899c;

    @include transition;

    &--active {
      opacity: 1;
    }

    &--focused {
      opacity: 1;
      color: #179e6e;
    }

    &--error {
      opacity: 1;
      color: #f05454;
    }
  }

  &__hint {
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    margin-top: 5px;
    overflow: hidden;
    opacity: 0;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f05454;

    &--active {
      opacity: 1;
    }
  }

  &__calendar {
    padding-right: 50px;
    background-image: url('../img/calendar.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 30px 30px;
  }

  &__unveil {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url(../img/show-ico.svg) 0 0 no-repeat;
    background-size: 30px 30px;
  }

  &--textarea {
    .field__input {
      padding-top: 17px;
      padding-bottom: 15px;
      overflow: hidden;
      width: 100%;
      height: 50px;
      min-height: 50px;
      line-height: 1.1;
      resize: none;

      @include media-breakpoint-down(sm) {
        max-width: 100%;
        height: 110px;
      }
    }
  }

  &--hint-sm {
    .field__hint {
      font-size: 12px;
    }
  }

  &--static {
    .field__label {
      position: relative;
      top: 0;
      left: 0;
      padding-bottom: 3px;
      display: block;
      height: 23px;
      opacity: 1;
    }

    .field__input {
      @include placeholder(transparent);
    }
  }

  &--required {
    .field__label {
      &:after {
        content: ' *';
        color: $warning;
      }
    }
  }

  &__tooltip-wrap {
    padding-left: 10px;
    height: 23px;
  }
}
