.comment {
  display: flex;

  @include media-breakpoint-down(xs) {
    display: block;
  }

  &__img {
    margin-right: 20px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(xs) {
      margin-right: auto;
      margin-bottom: 15px;
      margin-left: auto;
      display: flex;
      width: 70px;
      height: 70px;
      text-align: center;
    }

    img {
      @include media-breakpoint-down(xs) {
        margin: auto;
        display: block;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }

  &__text {
    position: relative;
    margin-bottom: 15px;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 22px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(125, 137, 156, .07);

    @include media-breakpoint-down(xs) {
      text-align: center;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -9px;
      width: 0;
      height: 0;
      pointer-events: none;
      content: ' ';
      border: solid transparent;
      border-width: 10px;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #fff;

      @include media-breakpoint-down(xs) {
        top: auto;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
      }
    }
  }

  &__meta {
    font-size: 14px;
    color: $gray-secondary;

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
}
