mixin comment(modifier, image, text, author, date)
  .comment&attributes(attributes)
    .comment__img
      img(src= image, alt)
    .comment__content
      .comment__text= text
      .comment__meta
        span.comment__author= author
        span.comment__date= date