.link-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  &:before {
    margin-right: 5px;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    background: url(../img/arrow-back.svg) no-repeat;
    background-size: contain;
  }
}
