.tabs-primary {
  &__btns-group {
    padding: 35px 0 0;
    border-bottom: 3px solid #f2f4f8;
  }

  &__btns-list {
    margin: 0 0 -3px;
    padding: 0;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  &__btn {
    padding: 0 20px 30px;
    display: block;
    font-size: 15px;
    white-space: nowrap;
    color: #2e2e2e;
    border-bottom: 3px solid #f2f4f8;
    outline: none !important;
    cursor: pointer;
  }

  &__btn--active {
    text-shadow: -1px 0 0 currentColor;
    border-bottom: 3px solid #179e6e;
  }

  &__content {
    padding: 100px 0;

    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }
  }

  &__content-item {
    h2 {
      margin: 0;
      padding: 0 0 25px;
      font-size: 36px;
      font-weight: 700;
      color: #2e2e2e;
    }

    p {
      margin: 0;
      padding: 10px 0;
      font-size: 15px;
      color: #2e2e2e;
    }

    @include media-breakpoint-down(md) {
      h2 {
        font-size: 24px;
      }
    }
  }
}
