mixin paper(title, modifier)
  .paper&attributes(attributes)
    if modifier == 'paper--failed'
      .paper__left.tooltip__trigger
        .paper__icon
        p.paper__title= title
      .tooltip__content
        p.mb-0 Ошибка загрузки файла. Размер загружаемого файла превышает 20 Мб.
    else
      .paper__left
        .paper__icon
        p.paper__title= title
    .paper__right
      if modifier == 'paper--uploading'
      else
        a.paper__remove(href="#") Удалить

