.paper {
  padding: 20px 0 20px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(odd) {
    background-color: rgba(#f2f4f8, .5);
  }

  &--failed {
    .paper__icon {
      background: url('/img/file-error.svg') no-repeat;
    }

    .paper__title {
      color: #f05454 !important;
    }
  }

  &--uploading {
    .paper__icon {
      background: url('/img/file-load.svg') no-repeat;
    }
  }

  &__left {
    display: flex;
    overflow: hidden;
    align-items: center;
  }

  &__title {
    padding: 0 !important;
    overflow: hidden;
    flex: 1 0;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #179e6e !important;
  }

  &__remove {
    margin-left: 30px;
    padding: 13px 38px 10px 50px;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    color: #7d899c;
    background: url('/img/file-delete.svg') no-repeat;
    background-position: 18px center;

    @include media-breakpoint-down(sm) {
      margin-left: 15px;
      padding: 0;
      overflow: hidden;
      width: 30px;
      height: 20px;
      color: transparent;
      background-position: center center;

      &:hover {
        color: transparent;
      }
    }
  }

  &__icon {
    margin-right: 16px;
    width: 22px;
    height: 22px;
    background: url('/img/file-done.svg') no-repeat;
    background-size: cover;
  }
}
