mixin tariff(header, price, modifier)
  .tariff&attributes(attributes)
    .tariff__header
      h4.mb-10.text-center= header
      p.text-center.mb-0 Подпись к тарифу
    .tariff__content
      p.text-center.mb-20
        span.font-weight-bold.d-block Уход из жизни
        span в результате несчастного случая
      p.text-center.mb-20
        span.font-weight-bold.d-block Установление инвалидности
        span 1 или 2 группы
      p.text-center.mb-20
        span.font-weight-bold.d-block Травмы
        span в результате несчастного случая
      p.text-center.mb-20
        span.font-weight-bold.d-block Госпитализация
        span в результате несчастного случая
      p.text-center.p--gray.mb-10 Стоимость полиса
      .tariff__price.text-center.mb-30= price
      a.btn.btn-primary(href="#") Купить полиса

