.tariff {
  width: 100%;
  max-width: 370px;
  background: #fff;
  border-radius: 2px;

  @include transition;

  &:hover {
    box-shadow: 0 8px 34px rgba(125, 137, 156, .202842);

    .tariff__header h4 {
      color: #179e6e;
    }

    .tariff__price {
      color: #179e6e;
    }
  }

  @include media-breakpoint-down(lg) {
    max-width: 290px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 7px;
    max-width: 100%;
  }

  &__header {
    padding: 30px 30px 10px;
    border-bottom: 2px solid #d4dbe4;

    h4 {
      @include transition;

      @include media-breakpoint-down(sm) {
        font-size: 17px;
      }
    }

    p {
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        color: #7d899c;
      }
    }
  }

  &__content {
    padding: 45px 30px 40px;

    @include media-breakpoint-down(sm) {
      padding: 45px 0 0;
    }

    p {
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }

  &__price {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;

    @include transition;
  }

  .btn {
    width: 100%;
    max-width: 100%;
  }
}
