.menu {
  margin-left: 60px;

  @include media-breakpoint-down(lg) {
    margin-left: 30px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding-bottom: 15px;
    display: none;
    border-bottom: 2px solid #dae0e7;
  }

  &__list,
  &__submenu {
    list-style-type: none;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    &:hover {
      .menu__link {
        color: #bb1f70;
      }

      .menu__submenu {
        @include media-breakpoint-down(md) {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    @include media-breakpoint-down(md) {
      &:hover {
        .menu__link {
          color: #2c2c2c;
        }
      }
    }
  }

  &__link {
    display: block;
    font-size: 15px;
    color: #2c2c2c;
    transition: all .3s ease;

    @include media-breakpoint-down(md) {
      position: relative;
      font-size: 17px;
      color: #2d2d2d;

      &:after {
        position: absolute;
        top: 4px;
        right: 3px;
        padding: 5px;
        display: inline-block;
        content: '';
        border: solid #7d899c;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &.active {
        &:after {
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 20px;
    left: -10px;
    margin: 0;
    padding: 5px 10px;
    visibility: hidden;
    width: 185px;
    opacity: 0;
    background: #fff;
    transition: all .3s ease;

    @include media-breakpoint-down(md) {
      position: static;
      padding: 10px 0 0 30px;
      display: none;
      visibility: visible;
      width: 100%;
      opacity: 1;
      background: transparent;
    }
  }

  &__submenu-link {
    font-size: 15px;
    color: #2c2c2c;
    transition: all .3s ease;

    &:hover {
      color: #bb1f70;
    }

    @include media-breakpoint-down(md) {
      padding: 10px 0;
      display: block;
      color: #7d899c;
    }
  }
}
