mixin menu(modifier)
  nav.menu&attributes(attributes)
    ul.menu__list
      li.menu__item
        a.menu__link(href="#") Наши продукты
        ul.menu__submenu
          li.menu__submenu-item
            a.menu__submenu-link(href="#") Здоровье
          li.menu__submenu-item
            a.menu__submenu-link(href="#") Недвижимость
          li.menu__submenu-item
            a.menu__submenu-link(href="#") Ипотечное страхование