.apps {
  margin-right: -7px;
  margin-bottom: 0;
  margin-left: -7px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  &__item {
    margin-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    width: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 0;
    color: transparent;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 3px;
    transition: $transition-base;

    @include media-breakpoint-down(sm) {
      height: 50px;
      background-size: 118px auto;
    }

    &:hover {
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .24);
    }

    &--apple {
      background-image: url('../img/appstore.svg');
    }

    &--android {
      background-image: url('../img/googleplay.svg');
    }
  }
}
