mixin apps(modifier)
  ul.apps&attributes(attributes)
    li.apps__item
      a.apps__link.apps__link--apple(href="#") appstore
    li.apps__item
      a.apps__link.apps__link--android(href="#") googleplay