.validity {
  padding-bottom: 38px;

  &__progress {
    position: relative;
    height: 4px;
    background-color: #d4dbe4;
    border-radius: 2px;
  }

  &__progress-filled {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #179e6e;
    border-radius: 2px;
  }
}
