mixin validity(header, date, modifier)
  .validity&attributes(attributes)
    .d-flex.align-items-center.justify-content-between.mb-5
      p.p--gray.mb-0.pb-5= header
      p.mb-0.pb-5= date
    .validity__progress
      if modifier == 'validity--expiring'
        .validity__progress-filled(style="width:70%;")
      .validity__progress-filled(style="width:30%;")
