.registration {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center 200px;
  background-size: 100%;

  @include media-breakpoint-up(md) {
    background-image: url('../img/city-bg.svg');
  }

  &__form {
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 15px 34px rgba(125, 137, 156, .202842);

    @include media-breakpoint-down(xs) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__footer {
    padding-bottom: 10px;
  }

  .btn {
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
  }
}
