mixin registration(modifier)
  .registration.pt-25.pb-50.pt-md-50.pb-lg-100#registrationForm&attributes(attributes)
    .container
      h2.mb-35 Регистрация
      form.form.registration__form(action="#", method="POST")
        h5.mb-40.mb-40 Основная информация
        .row
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Фамилия", "register1", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Имя", "register2", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "Отчество", "register3", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("field--calendar", "text", "Дата рождения", "register4", "Ошибка при заполнении поля")
        h5.mb-40 Паспортные данные
        .row
          .col-md-4.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Серия", "register5", "Ошибка при заполнении поля")
          .col-md-4.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Номер", "register6", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("field--calendar", "text", "Дата выдачи", "register7", "Ошибка при заполнении поля")
        .row
          .col-md-8.pb-30.pb-md-45
            +field("field--textarea", "text", "Кем выдан", "register8", "Ошибка при заполнении поля")(class="field--textarea")
          .col-md-4.col-xl-2.pb-30.pb-md-45
            +field("", "text", "Код подразделения", "register9", "Ошибка при заполнении поля")
        h5.mb-40 Адрес регистрации
        .row
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Регион", "register10", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Город/населенный пункт", "register11", "Ошибка при заполнении поля")
          .col-md-4.pb-30.pb-md-45
            +field("", "text", "Улица", "register12", "Ошибка при заполнении поля")
        .row
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Дом", "register13", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Корпус", "register14", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Строение", "register15", "Ошибка при заполнении поля")
          .col-md-3.col-lg-2.col-6.pb-30.pb-md-45.form__field-sm
            +field("", "text", "Квартира", "register16", "Ошибка при заполнении поля")
        h5.mb-40 Контактная информация
        .row.form__row
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("", "text", "E-mail", "register1", "Ошибка при заполнении поля")
          .col-md-6.col-lg-4.pb-30.pb-md-45
            +field("field--phone", "text", "Телефон", "register2", "Этот номер телефона уже используется. <a href='#' class='font-weight-bold'>Войти в систему</a>").field--hint-sm
        .registration__footer
          .row
            .col-md-6.pb-30.pb-md-0
              .custom-control.custom-checkbox
                input#customCheck1.custom-control-input(type='checkbox', required)
                label.custom-control-label(for='customCheck1')
                  span Предоставляю ООО "СК КАРДИФ" согласие на обработку предоставленных мною персональных данных. С 
                    a(href="#") правилами обработки персональных 
                    | данных ознакомлен.
            .col-md-6.pb-30.pb-md-0
              button.btn.btn-primary(type="submit") Продолжить
