.papers {
  padding: 15px 0;
  border-top: dashed 2px #d4dbe4;

  &--checked {
    .papers__title {
      p {
        color: #2d2d2d;
      }
    }

    .papers__icon {
      background: url('/img/doc_check.svg') no-repeat;
      background-size: cover;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    p {
      overflow: hidden;
      flex: 1 0;
      font-size: 15px;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #7d899c;

      @include media-breakpoint-down(xs) {
        padding: 3px 0 0 !important;
        font-size: 12px;
        line-height: 18px;
        white-space: normal;
        text-overflow: clip;
      }
    }

    @include media-breakpoint-down(xs) {
      align-items: flex-start;
    }
  }

  &__icon {
    margin-right: 15px;
    width: 24px;
    height: 30px;
    background: url('/img/doc.svg') no-repeat;
    background-size: cover;
  }

  &__tooltip {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    background: url('/img/info.svg') no-repeat;
    background-size: cover;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 6px;
      right: 40px;
      margin-right: 0;
    }
  }

  &__count {
    position: relative;
    padding: 0 20px;
    height: 20px;
    font-size: 15px;
    color: #2d2d2d;
    background: url('/img/doc_attachment.svg') no-repeat;
    background-position: 0 top;
    outline: none;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 0;
      right: 2px;
      width: 10px;
      height: 10px;
      content: '';
      border: solid #7d899c;
      border-width: 0 0 1.6px 1.6px;
      transform: rotate(-45deg);

      @include transition;
    }

    &--open {
      &:after {
        top: 6px;
        transform: rotate(135deg);
      }
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 6px;
      right: 0;
      padding-left: 0;
      background: none;
    }
  }

  &__btn {
    margin-left: 25px;
    padding: 12px 20px 10px 55px;
    line-height: 15px;
    color: #7d899c;
    background: url('/img/doc_download.svg') no-repeat, #ffffff;
    background-position: 20px center;
    border: solid 1px #7d899c;
    border-radius: 2px;
    outline: none;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      padding: 12px 0 10px;
      width: 100%;
      max-width: 100%;
      text-align: center;
      background-position: 37% center;
    }

    @include media-breakpoint-down(xs) {
      background-position: 25% center;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__left {
    overflow: hidden;
    flex: 1 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      width: 100%;
      max-width: calc(100% - 70px);
      flex: 0 1 auto;
    }
  }

  &__right {
    display: flex;
    width: 100%;
    max-width: 290px;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  &__content {
    overflow: hidden;
    height: 0;

    @include transition;

    &--open {
      padding-top: 15px;
      overflow: visible;
      height: auto;
    }
  }
}
