mixin papers(title, number, modifier)
  .papers&attributes(attributes)
    .papers__header
      .papers__left
        a.papers__title(href="#")
          span.papers__icon
          p= title
      .papers__right
        if modifier == 'papers--tooltip'
          .papers__tooltip
        if number
          a.papers__count= number
        a.papers__btn(href="#") Загрузить
    if number == '1'
      .papers__content
        +paper('Zayavlenie_Konstantinopolskiy.docx').paper--uploaded
    if number == '5'
      .papers__content
        +paper('Загранпаспорт_первая_страница_с_фотографией_Антонова.Е.С._новый.pdf').paper--uploaded
        +paper('Загранпаспорт_первая_страница_с_фотографией_Антонова.Е.С._новый.pdf').paper--uploaded
        +paper('Загранпаспорт_первая_страница_с_фотографией_Антонова.Е.С._новый.pdf').paper--uploaded
        +paper('Загранпаспорт_первая_страница_с_фотографией_Антонова.Е.С._новый.pdf', 'paper--failed').paper--failed
        +paper('Загранпаспорт_первая_страница_с_фотографией_Антонова.Е.С._новый.pdf', 'paper--uploading').paper--uploading
    if block
      block
