mixin header(modifier)
  header.header&attributes(attributes)
    .header__progress
      .header__bar
    .container.header__container
      .header__row
        .header__left
          +logo
          +menu
          +search
        .header__right
          .dropdown__wrapper
            a.btn.btn-primary.btn--question.dropdown__trigger.js-btn-question(href="#")
              span.icon
              | Задать вопрос
            +dropdown('dropdown--callback').js-dropdown-callback
          a.btn.btn-primary.btn--callback.js-btn-callback(href="#")
            span.icon
            | Заказать обратный звонок
          a.btn.btn-secondary.btn--insurance.js-btn-insurance(href="#")
            span.icon
            | Страховой случай
          if modifier == 'header--logged-out'
          else
            a.btn.btn-primary.btn--notifications.js-btn-notifications(href="#")
              span 4
          if modifier == 'header--logged-out'
            a.header__enter(href="#registrationForm")
          else
            a.header__avatar(href="#")
              img(src="./img/avatar.jpg", alt)
          a.header__toggle-btn(href="#")
            span
  .mobile-menu-bar.js-mobile-menu-bar
    .container.mobile-menu-bar__wrapper.js-menu-html
      .mobile-menu-bar__top
        +menu
        +search
      .mobile-menu-bar__bottom
        a.btn.btn-primary.btn--question.js-btn-question(href="#")
          span.icon
          | Задать вопрос
        a.btn.btn-primary.btn--callback.js-btn-callback(href="#")
          span.icon
          | Заказать обратный звонок
        a.btn.btn-secondary.btn--insurance.js-btn-insurance(href="#")
          span.icon
          | Страховой случай
  .floating-buttons.floating-buttons--active.js-floating-buttons
    .floating-buttons__wrapper
      a.btn.btn-primary.btn--question.js-btn-question(href="#")
        span.icon
        | Задать вопрос
      a.btn.btn-secondary.btn--insurance.js-btn-insurance(href="#")
        | Страховой случай
