.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 15px 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 7px 10px rgba(125, 137, 156, .07);

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    z-index: 1001;
    box-shadow: 0 12px 23px -6px rgba(125, 137, 156, .2);
  }

  &__row,
  &__left,
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn {
    position: relative;
    margin: 0 15px 0 0;
    padding: 0;
    display: block;
    width: 170px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;

    &--question {
      .icon {
        margin-right: 7px;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: transparent url(../img/btn--question.svg) 0 0 no-repeat;
        transform: translate(0, -2px);
      }

      @include media-breakpoint-down(lg) {
        width: 50px;
        text-indent: -9999px;
        background-image: url(../img/btn--question.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px 30px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--insurance {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &--callback {
      display: none;

      .icon {
        margin-right: 15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: transparent url(../img/btn--callback.svg) 0 0 no-repeat;
      }
    }

    &--notifications {
      width: 50px;
      background-image: url(../img/btn--notifications.svg);
      background-repeat: no-repeat;
      background-position: center center;

      span {
        position: absolute;
        top: -10px;
        right: -10px;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        background-color: #bb1f70;
        border-radius: 50%;
        box-shadow: 0 10px 15px rgba(162, 4, 86, .3);
      }

      @include media-breakpoint-down(md) {
        width: 33px;
        height: 33px;
        background-size: 20px 20px;
      }
    }
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(md) {
      width: 33px;
      height: 33px;
      background: #d4dbe4 url(../img/profile-mob.svg) center center no-repeat;
      background-size: 20px 20px;

      img {
        display: none;
      }
    }
  }

  &__toggle-btn {
    margin-left: 15px;
    display: none;
    width: 53px;
    height: 53px;
    background: #179e6e url(../img/toogle-menu-default.svg) center center no-repeat;
    background-size: 30px 30px;

    &.active {
      background-image: url(../img/toogle-menu-active.svg);
    }

    @include media-breakpoint-down(md) {
      display: block;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -15px;
    }
  }

  &__enter {
    display: block;
    width: 50px;
    height: 50px;
    background: #d4dbe4 url(../img/login.svg) no-repeat center;
    border-radius: 2px;

    @include media-breakpoint-down(xs) {
      width: 33px;
      height: 33px;
      background-size: 15.5px 23.2px;
    }
  }

  //  &__progress {
  //    position: absolute;
  //    bottom: -2px;
  //    left: 0;
  //    display: none;
  //    width: 100%;
  //    height: 2px;
  //    background: #d0d8e3;
  //
  //    @include media-breakpoint-down(md) {
  //      display: block;
  //    }
  //  }
  //
  //  &__bar {
  //    width: 10%;
  //    height: 100%;
  //    background: #179e6e;
  //    transition: background .15s ease;
  //  }

  &--dropdown {
    z-index: 1001;
  }
}

.mobile-menu-bar {
  position: fixed;
  z-index: 1000;
  top: 53px;
  left: 0;
  padding: 20px;
  display: none;
  overflow: auto;
  width: 100%;
  height: calc(100% - 53px);
  background: #ffffff;

  @include media-breakpoint-up(lg) {
    display: none !important;
  }

  &__wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
  }

  &__bottom {
    flex-shrink: 0;
  }

  .menu,
  .search {
    display: block;
  }

  .btn {
    padding: 0 10px;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: left;

    &--question {
      margin-top: 30px;
      color: #2d2d2d;
      background: #ffffff;
      border: solid 2px #d4dbe4;

      .icon {
        margin-right: 10px;
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        background: transparent url(../img/face-robot.svg) 0 0 no-repeat;
      }
    }

    &--callback {
      margin-top: 15px;

      .icon {
        margin-right: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: transparent url(../img/phone.svg) 0 0 no-repeat;
      }
    }

    &--insurance {
      margin-top: 15px;

      .icon {
        margin-right: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        background: transparent url(../img/accident-doc.svg) 0 0 no-repeat;
      }
    }
  }
}

.floating-buttons {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: $transition-base;
  transform: translateY(20px);

  @include media-breakpoint-up(lg) {
    display: none !important;
  }

  &__wrapper {
    padding: 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--disabled {
    display: none !important;
  }

  &--active {
    z-index: 1000;
    opacity: 1;
    transform: translateY(0);
  }

  .btn {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    width: 48%;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 40px;
    color: #ffffff;
    box-shadow: 0 10px 15px rgba(121, 0, 63, .45);

    .icon {
      margin-right: 8px;
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      background: transparent url(../img/btn--question.svg) 0 0 no-repeat;
      transform: translate(0, -2px);
    }
  }
}
