.data {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  &__value {
    margin-right: 15px;
    font-size: 62px;
    color: #7d899c;
  }

  &__caption {
    font-size: 15px;
    color: #2e2e2e;
  }
}
