.form {
  position: relative;
  background-color: #fff;

  .col-12 {
    position: static;
  }

  &__row {
    margin-bottom: 45px;
  }

  &__link {
    font-size: 15px;

    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 50px;
      right: 30px;
    }
  }

  &__desc {
    font-size: 15px;
    color: $gray;
  }

  &__group {
    label {
      display: block;
      font-size: 13px;
      line-height: 18px;
      color: $gray-secondary;
    }
  }

  &__group-text {
    padding-top: 7px;
    font-size: 15px;
    line-height: 20px;

    a {
      display: inline-block;
      border-bottom: 1px dotted;
    }
  }

  &__field-sm {
    &:nth-child(2n + 1) {
      @include media-breakpoint-down(sm) {
        padding-right: 5px;
      }
    }

    &:nth-child(2n + 2) {
      @include media-breakpoint-down(sm) {
        padding-left: 5px;
      }
    }
  }

  &__wide-btn {
    width: 350px;
  }
}
