.info-slider {
  margin: 0 -15px 0 15px;
  padding: 55px 0 0;
  height: 279px;
  background: transparent url(../img/info-bg.jpg) 0 0 no-repeat;
  background-size: 527px 279px;

  @include media-breakpoint-down(lg) {
    padding-left: 40px;
    background: transparent url(../img/info-bg-mob.jpg) 0 0 no-repeat;
    background-size: 320px 279px;
  }

  @include media-breakpoint-down(md) {
    margin: 30px auto 0;
    width: 320px;
    order: 2;
  }

  &__init {
    width: 240px;

    .slick-dots {
      bottom: -40px;
    }
  }
}
